<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business Ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">DLF</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>DLF Finance</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p>DLF Ltd is engaged in the business of colonisation and real estate development. The company operation’s  span all aspects of real estate development from the identification and acquisition of land to planning execution construction and marketing of projects. It is also engaged in the business of generation of power provision of maintenance services hospitality and recreational activities life insurance and retail chain outlets. Its internal business includes development business and rental business. The development business of the Company is involved in the sale of residential spaces select commercial offices and commercial complexes. The company has a unique business model with earnings arising from development and rentals. Its exposure across business segments and geographies mitigates any down-cycles in the market. The company has also forayed into infrastructure SEZ and hotel businesses. It operates in all aspects of real estate development ranging from acquisition of land to planning executing constructing & marketing of project. The group is also engaged in the business of generation and transmission of power provision of maintenance services hospitality and recreational activities.



 </p><br>






<p>The company was founded by Chaudhary Raghuvendra Singh. The company developed some of the first residential colonies in Delhi such as Krishna Nagar in East Delhi which was completed in 1949. Following the passage of the Delhi Development Act in 1957 the state assumed control of real estate development activities in Delhi which resulted in restrictions on private real estate colony development. They therefore commenced acquiring land at relatively low cost outside the area controlled by the Delhi Development Authority, particularly in the district of Gurgaon in the adjacent state of Haryana.This led to their first landmark real estate development project DLF Qutab Enclave which has now evolved into DLF City. 

</p>
<br>




  <p> 
Delhi Land And Finance Limited is a Public incorporated on 02 January 1981. It is classified as Non-govt company and is registered at the Registrar of Companies, Delhi. Its authorized share capital is Rs. 1,500,000 and its paid up capital is Rs. 600,000. It is involved in Real estate activities with own or leased property. [This class includes buying, selling, renting and operating of self-owned or leased real estate such as apartment building and dwellings, non-residential buildings, developing and subdividing real estate into lots etc. Also included are development and sale of land and cemetery lots, operating of apartment hotels and residential mobile home sites.(Development on own account involving construction is classified in class 4520).]
.

</p><br>

<p>
 
Delhi Land And Finance Limited's Annual General Meeting (AGM) was last held on 28 October 2000 and as per records from Ministry of Corporate Affairs (MCA), its balance sheet was last filed on 31 March 2000.


</p><br>

<p>In the year 2002 the company ventured into organized retail complexes. In the year 2003 they commenced development of DLF Cyber City in Gurgaon. In the year 2004 they launched premium residential complexes with luxurious milieu of Golf Links.In the year 2007 the company formed JVs with Prudential Financial Inc USA for Life Insurance & AMC. They also entered into capital markets. In the year 2008 they commenced operations of DLF Emporio India's first luxury mall. In September 2008 the joint venture company DLF Pramerica Life Insurance Company Ltd commenced operations with a purpose to market and sell life insurance products in the country. In the year 2009 the company launched Capital Greens the largest private sector residential project in Delhi. Also they exited its asset management JV during the year.During the year 2009-10 the company approved the integration of Caraf Builders & Constructions Private Limited (Caraf) (the holding company of inter-alia DLF Assets Pvt Ltd) DLF Info City Developers (Chandigarh) Ltd and DLF Info City Developers (Kolkata) Ltd with DLF Cyber City Developers Ltd (DCCDL) a 100% subsidiary of DLF.In October 2009 DLF was conferred Best Global Developer Award 2009 by Euromoney. In November 2009 DLF sold DT Cinemas and entered into a long term strategic alliance with PVR. In March 2010 Caraf (along with its subsidiaries) became a wholly-owned arm of Cyber City DLF's subsidiary thus giving effect to the integration process. During the year 2010-11 its subsidiary DLF Home Developers Ltd acquired additional 50% interest of Delanco Real Estate Pvt Ltd and 50% interest of Design Plus Architecture Pvt Ltd. In May 2010 DLF launched second phase of Garden City DLF New Indore. In May 2011 after the phenomenal response to first phase of its project Garden City DLF New Indore DLF announced the launch of the second phase of the project.In December 2011 the company along with its joint venture partner Hubtown Ltd sold 100% of their respective shareholding in DLF Ackruti Info Park (Pune) Ltd (DLF Ackruti) to an entity controlled by real estate fund affiliated with The Blackstone Group BRE/Mauritius Investments II after obtaining all necessary approvals. Consequence for this disinvestment DLF Ackruti ceased to be a subsidiary of the company with effect from December 28 2011.In 2012 DLF launched 8.3 km expressway project in Gurgaon in partnership with Haryana Urban Development Authority (HUDA). During the year DLF commenced operation of second multilevel parking facility at Baba Kharak Singh Marg in Delhi.On 12 June 2012 DLF announced that the company's wholly owned subsidiary DLF Hotel Holdings Ltd has divested its entire shareholding in Adone Hotels and Hospitality Ltd (Adone) for Rs 567 crore. The sale of the shareholding was undertaken in line with DLF's stated objective of divesting its non-strategic assets. On 13 August 2012 DLF announced that the company and two of its subsidiaries have entered into an agreement with Lodha Developers Ltd. for sale of their stake in Jawala Real Estate Private Ltd. for an estimated enterprise value of approximately Rs 2700 crore. This is an important step in the company's strategy to divest certain non-core assets and continue its focus on core business. The transaction is expected to be completed by the end of October 2012.
</p><br>
<p>On 25 July 2013 DLF announced that it has signed definitive agreements to sell its 74% equity stake in its the Life Insurance Joint Venture - DLF Pramerica Life Insurance Company Ltd a joint venture with Prudential International Insurance Holdings Ltd (PIIHL) a subsidiary of Prudential Financial Inc USA to Dewan Housing Finance Corporation Ltd (DHFL) & its group entities. In 2014 DLF's subsidiary Emporio Limited concluded India's first Commercial Mortgage Backed Security (CMBS) issuance of Rs 525 crore with a coupon rate of 10.90% p.a. and Legal Maturity of 7.5 years. DLF Emporio owns and operates approximately 3 lakh sq. ft of a Luxury Mall in New Delhi India. Also during the year DLF became India's first development company to get ISO certificate. On 9 February 2014 DLF Global Hospitality Limited (DGHL) a 100% step down subsidiary of DLF announced that it has completed the sale of 100% equity stake in Silverlink Resorts Ltd. (SRL) the owner of Amanresorts to Aman Resorts Group Ltd. (ARGL) a Joint Venture between Peak Hotels & Resorts Group Ltd. (PHRL) and Mr. Adrian Zecha the founder of Amanresorts for an enterprise value of USD 358 million. The sale has been in the form of management buyout. DLF Global Hospitality Limited had purchased 100% equity in Amanresorts in 2007 from a group of investors. 

</p><br>

<p>On 25 July 2013 DLF announced that it has signed definitive agreements to sell its 74% equity stake in its the Life Insurance Joint Venture - DLF Pramerica Life Insurance Company Ltd a joint venture with Prudential International Insurance Holdings Ltd (PIIHL) a subsidiary of Prudential Financial Inc USA to Dewan Housing Finance Corporation Ltd (DHFL) & its group entities. In 2014 DLF's subsidiary Emporio Limited concluded India's first Commercial Mortgage Backed Security (CMBS) issuance of Rs 525 crore with a coupon rate of 10.90% p.a. and Legal Maturity of 7.5 years. DLF Emporio owns and operates approximately 3 lakh sq. ft of a Luxury Mall in New Delhi India. Also during the year DLF became India's first development company to get ISO certificate. On 9 February 2014 DLF Global Hospitality Limited (DGHL) a 100% step down subsidiary of DLF announced that it has completed the sale of 100% equity stake in Silverlink Resorts Ltd. (SRL) the owner of Amanresorts to Aman Resorts Group Ltd. (ARGL) a Joint Venture between Peak Hotels & Resorts Group Ltd. (PHRL) and Mr. Adrian Zecha the founder of Amanresorts for an enterprise value of USD 358 million. The sale has been in the form of management buyout. DLF Global Hospitality Limited had purchased 100% equity in Amanresorts in 2007 from a group of investors. .
</p><br>
<center><img src="images/image/dlf/dlffinance1.jpg" height="300px" width="400px"></center><br>
<p>As of 31 March 2012, the Company had a 1,380 square feet of leased retail space across the country. In 2013–14, it leased out 3 million sq ft of office space in India.
In August 2011 a penalty of ₹6.3 billion (US$91 million) was imposed on DLF by the Competition Commission of India (CCI) after finding DLF guilty of breaching laws regarding the unfair pricing of goods and services. The complaint was lodged against DLF by buyers in its residential projects Belaire & Park Place, located in Gurgaon.DLF has paid part of the penalty, and the matter is currently in the Supreme Court of India. In February 2015, the CCI ordered its investigative arm to probe two more projects of DLF in Gurgaon, namely, DLF Regal Gardens  and DLF Skycourt.</p><br>


</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. WHen was Krishna Nagar in East Delhi completed</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a"> 1949<br>
    <input type="radio" name="q1" id="1b"> 1950<br>
    <input type="radio" name="q1" id="1c"> 1960<br>
    <input type="radio" name="q1" id="1d"> 1939<br>
  </p>
</div>

<br>
<b class="collapsible">Q2.  When did the CCI ordered its investigative arm to probe two more projects of DLF in Gurgaon, namely, DLF Regal Gardens  and DLF Skycourt ?</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">February 2015<br>
    <input type="radio" name="q2" id="2b">January 2014<br>
    <input type="radio" name="q2" id="2c">March 2013<br>
    <input type="radio" name="q2" id="2d">TMay 2016<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. How much penalty was imposed on DLF in August 2011?</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a"> US 91$ million<br>
    <input type="radio" name="q3" id="3b">US 23$ million<br>
    <input type="radio" name="q3" id="3c">US 100$ million<br>
    <input type="radio" name="q3" id="3d">US 34$ million<br>
  </p>
</div>

<br>
<b class="collapsible">Q4.  How much leased retail space did the company have as of 31st March.
?</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">1490 square feet<br>
    <input type="radio" name="q4" id="4b">1380 square feet<br>
    <input type="radio" name="q4" id="4c">1900 square feet<br>
    <input type="radio" name="q4" id="4d"> 2000 square feet<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. In which residential project was the complaint lodged against DLF?</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">Belaire & Park Place<br>
    <input type="radio" name="q5" id="5b">Shivaji Park<br>
    <input type="radio" name="q5" id="5c">Rajouri Garden<br>
    <input type="radio" name="q5" id="5d">Greater Kailash<br>
  </p>
  <br>
<b class="collapsible">Q6. When did DLF launched 8.3 km expressway project?



</b>
<div class="content">
    <p>
    <input type="radio" name="q6" id="6a">2013<br>
    <input type="radio" name="q6" id="6b">2012<br>
    <input type="radio" name="q6" id="6c">2014<br>
    <input type="radio" name="q6" id="6d">2015<br>
  </p>
  <br>
<b class="collapsible">Q7.How much land approximately DLF Emporio owns and operates in a Luxury Mall in New Delhi? 
3 lakh sq. ft*
4 lakh sq. ft
6 lakh sq. ft
2 lakh sq. ft
</b>
<div class="content">
    <p>
    <input type="radio" name="q7" id="7a"> 3 lakh sq. ft<br>
    <input type="radio" name="q7" id="7b">4 lakh sq. ft<br>
    <input type="radio" name="q7" id="7c">6 lakh sq. ft<br>
    <input type="radio" name="q7" id="7d">2 lakh sq. ft<br>
  </p>
  <br>
<b class="collapsible">Q8. How many floors does DLF Mall of India have?


</b>
<div class="content">
    <p>
    <input type="radio" name="q8" id="8a">11<br>
    <input type="radio" name="q8" id="8b">4<br>
    <input type="radio" name="q8" id="8c">7<br>
    <input type="radio" name="q8" id="8d">15<br>
  </p>
  <br>
<b class="collapsible">Q9.According to amendment agreement, How many screens DT Saket have?

</b>
<div class="content">
    <p>
    <input type="radio" name="q9" id="9a">6<br>
    <input type="radio" name="q9" id="9b">7<br>
    <input type="radio" name="q9" id="9c">9<br>
    <input type="radio" name="q9" id="9d">10<br>
  </p>
  <br>
<b class="collapsible">Q10.  How many screens did DUL propose to sell subject to satisfaction of statutory regulatory and other customary conditions?
</b>
<div class="content">
    <p>
    <input type="radio" name="q10" id="10a">32<br>
    <input type="radio" name="q10" id="10b">56<br>
    <input type="radio" name="q10" id="10c">10<br>
    <input type="radio" name="q10" id="10d">1<br>
  </p>

    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  
  <script>
    var marks = 0
    function next(){
      var _0x996a=['checked','10a','getElementById'];(function(_0x2d8f3a,_0x3ec851){var _0x2e8f52=function(_0x21200c){while(--_0x21200c){_0x2d8f3a['push'](_0x2d8f3a['shift']());}};_0x2e8f52(++_0x3ec851);}(_0x996a,0x17c));var _0x4429=function(_0x444ec2,_0x18e452){_0x444ec2=_0x444ec2-0x0;var _0x590bf0=_0x996a[_0x444ec2];return _0x590bf0;};if(document[_0x4429('0x0')]('1a')[_0x4429('0x1')]){marks++;}if(document[_0x4429('0x0')]('2a')['checked']){marks++;}if(document[_0x4429('0x0')]('3a')['checked']){marks++;}if(document[_0x4429('0x0')]('4b')['checked']){marks++;}if(document[_0x4429('0x0')]('5a')['checked']){marks++;}if(document[_0x4429('0x0')]('6a')['checked']){marks++;}if(document[_0x4429('0x0')]('7a')[_0x4429('0x1')]){marks++;}if(document['getElementById']('8c')[_0x4429('0x1')]){marks++;}if(document[_0x4429('0x0')]('9a')[_0x4429('0x1')]){marks++;}if(document[_0x4429('0x0')](_0x4429('0x2'))[_0x4429('0x1')]){marks++;}
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivfin = currentState.trivfin                                      //flag to check if this part is already answred
              if(trivfin == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/dlfpro'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreFinance": marks,                                         //update score
                      "trivfin": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // console.log(response)
                      token = response.token
                      console.log(token)
                      console.log(response)
                      responseScore = response
                      location.href='/dlfpro'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
      
      
  </script>
</body>

</html>