<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business Ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>


<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">DLF</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>DLF Production</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p>DLF stands for Delhi Land and Finance. Delhi Land and Finance is one of the largest commercial real estate developers in India. The company was founded by Chaudhary Raghvendra Singh in 1946. The headquarter of DLF is in New Delhi, India. DLF develops residential colonies in Delhi such as Shivaji Park, Rajouri Garden, Krishna Nagar, South Extension, Greater Kailash, and Haus Khas etc.
</p><br>
<p>DLF deals in the following types of projects:
</p>
<ul>
	<li>
	Residential Flats and Apartments</li>
<li>Commercial buildings</li>
<li>Bridges and Towers</li>
<li>Residential Towers</li>
<li>Shopping Malls and Retails Homes</li>
</ul>






<p>DLF Ltd is engaged in the business of colonisation and real estate development. The company operations span all aspects of real estate development from the identification and acquisition of land to planning execution construction and marketing of projects. It is also engaged in the business of generation of power provision of maintenance services hospitality and recreational activities life insurance and retail chain outlets. Its internal business includes development business and rental business. The development business of the Company is involved in the sale of residential spaces select commercial offices and commercial complexes. The company has a unique business model with earnings arising from development and rentals. Its exposure across business segments and geographies mitigates any down-cycles in the market. The company has also forayed into infrastructure SEZ and hotel businesses. It operates in all aspects of real estate development ranging from acquisition of land to planning executing constructing & marketing of project. The group is also engaged in the business of generation and transmission of power provision of maintenance services hospitality and recreational activities.The business of DLF is organized on a SBU basis. The Homes SBU caters to 3 segments of the residential market - Super Luxury Luxury and Mid-Income. The product offering involves a wide range of products including condominiums duplexes row houses and apartments of varying sizes. DLF Ltd was incorporated in the year 1963. The company was founded by Chaudhary Raghuvendra Singh. The company developed some of the first residential colonies in Delhi such as Krishna Nagar in East Delhi which was completed in 1949. Following the passage of the Delhi Development Act in 1957 the state assumed control of real estate development activities in Delhi which resulted in restrictions on private real estate colony development. They therefore commenced acquiring land at relatively low cost outside the area controlled by the Delhi Development Authority, particularly in the district of Gurgaon in the adjacent state of Haryana.

</p>
<br>




  <p> 
which has now evolved into DLF City. DLF City is spread over 3000 acres in Gurgaon and is an integrated township which includes residential commercial and retail properties in a modern city infrastructure with schools, hospitals, hotels and shopping malls. It also boasts of the prestigious DLF Golf and Country Club with night golfing facilities.During the period 1950-1964 the company developed 22 urban colonies. In the year 1985 the company commenced development of the 3000-acre DLF City in Gurgaon. In the year 1996 the company ventured into group housing projects. In the year 1999 they ventured into Grade A office spaces in Gurgaon.

</p><br>

<p>
In the year 2002 the company ventured into organized retail complexes. In the year 2003 they commenced development of DLF Cyber City in Gurgaon. In the year 2004 they launched premium residential complexes with luxurious milieu of Golf Links.In the year 2007 the company formed JVs with Prudential Financial Inc USA for Life Insurance & AMC. They also entered into capital markets. In the year 2008 they commenced operations of DLF Emporio India's first luxury mall. In September 2008 the joint venture company DLF Pramerica Life Insurance Company Ltd commenced operations with a purpose to market and sell life insurance products in the country. In the year 2009 the company launched Capital Greens the largest private sector residential project in Delhi. Also they exited its asset management JV during the year.During the year 2009-10 the company approved the integration of Caraf Builders & Constructions Private Limited (Caraf) (the holding company of inter-alia DLF Assets Pvt Ltd) DLF Info City Developers (Chandigarh) Ltd and DLF Info City Developers (Kolkata) Ltd with DLF Cyber City Developers Ltd (DCCDL) a 100% subsidiary of DLF.In October 2009 DLF was conferred Best Global Developer Award 2009 bṣy Euromoney. In November 2009 DLF sold DT Cinemas and entered into a long term strategic alliance with PVR. In March 2010 Caraf (along with its subsidiaries) became a wholly-owned arm of Cyber City DLF's subsidiary thus giving effect to the integration process. During the year 2010-11 its subsidiary DLF Home Developers Ltd acquired additional 50% interest of Delanco Real Estate Pvt Ltd and 50% interest of Design Plus Architecture Pvt Ltd.


</p><br>

<p>In the year 2002 the company ventured into organized retail complexes. In the year 2003 they commenced development of DLF Cyber City in Gurgaon. In the year 2004 they launched premium residential complexes with luxurious milieu of Golf Links.In the year 2007 the company formed JVs with Prudential Financial Inc USA for Life Insurance & AMC. They also entered into capital markets. In the year 2008 they commenced operations of DLF Emporio India's first luxury mall. In September 2008 the joint venture company DLF Pramerica Life Insurance Company Ltd commenced operations with a purpose to market and sell life insurance products in the country. In the year 2009 the company launched Capital Greens the largest private sector residential project in Delhi. Also they exited its asset management JV during the year.During the year 2009-10 the company approved the integration of Caraf Builders & Constructions Private Limited (Caraf) (the holding company of inter-alia DLF Assets Pvt Ltd) DLF Info City Developers (Chandigarh) Ltd and DLF Info City Developers (Kolkata) Ltd with DLF Cyber City Developers Ltd (DCCDL) a 100% subsidiary of DLF.In October 2009 DLF was conferred Best Global Developer Award 2009 by Euromoney. In November 2009 DLF sold DT Cinemas and entered into a long term strategic alliance with PVR. In March 2010 Caraf (along with its subsidiaries) became a wholly-owned arm of Cyber City DLF's subsidiary thus giving effect to the integration process. During the year 2010-11 its subsidiary DLF Home Developers Ltd acquired additional 50% interest of Delanco Real Estate Pvt Ltd and 50% interest of Design Plus Architecture Pvt Ltd. In May 2010 DLF launched second phase of Garden City DLF New Indore. In May 2011 after the phenomenal response to first phase of its project Garden City DLF New Indore DLF announced the launch of the second phase of the project.In December 2011 the company along with its joint venture partner Hubtown Ltd sold 100% of their respective shareholding in DLF Ackruti Info Park (Pune) Ltd (DLF Ackruti) to an entity controlled by real estate fund affiliated with The Blackstone Group BRE/Mauritius Investments II after obtaining all necessary approvals. Consequence for this disinvestment DLF Ackruti ceased to be a subsidiary of the company with effect from December 28 2011.In 2012 DLF launched 8.3 km expressway project in Gurgaon in partnership with Haryana Urban Development Authority (HUDA). During the year DLF commenced operation of second multilevel parking facility at Baba Kharak Singh Marg in Delhi.On 12 June 2012 DLF announced that the company's wholly owned subsidiary DLF Hotel Holdings Ltd has divested its entire shareholding in Adone Hotels and Hospitality Ltd (Adone) for Rs 567 crore. The sale of the shareholding was undertaken in line with DLF's stated objective of divesting its non-strategic assets. On 13 August 2012 DLF announced that the company and two of its subsidiaries have entered into an agreement with Lodha Developers Ltd. for sale of their stake in Jawala Real Estate Private Ltd. for an estimated enterprise value of approximately Rs 2700 crore. This is an important step in the company's strategy to divest certain non-core assets and continue its focus on core business. The transaction is expected to be completed by the end of October 2012.
</p><br>
<p>In May 2010 DLF launched second phase of Garden City DLF New Indore. In May 2011 after the phenomenal response to first phase of its project Garden City DLF New Indore DLF announced the launch of the second phase of the project.In December 2011 the company along with its joint venture partner Hubtown Ltd sold 100% of their respective shareholding in DLF Ackruti Info Park (Pune) Ltd (DLF Ackruti) to an entity controlled by real estate fund affiliated with The Blackstone Group BRE/Mauritius Investments II after obtaining all necessary approvals. Consequence for this disinvestment DLF Ackruti ceased to be a subsidiary of the company with effect from December 28 2011.In 2012 DLF launched 8.3 km expressway project in Gurgaon in partnership with Haryana Urban Development Authority (HUDA). During the year DLF commenced operation of second multilevel parking facility at Baba Kharak Singh Marg in Delhi.On 12 June 2012 DLF announced that the company's wholly owned subsidiary DLF Hotel Holdings Ltd has divested its entire shareholding in Adone Hotels and Hospitality Ltd (Adone) for Rs 567 crore. The sale of the shareholding was undertaken in line with DLF's stated objective of divesting its non-strategic assets. On 13 August 2012 DLF announced that the company and two of its subsidiaries have entered into an agreement with Lodha Developers Ltd. for sale of their stake in Jawala Real Estate Private Ltd. for an estimated enterprise value of approximately Rs 2700 crore. This is an important step in the company's strategy to divest certain non-core assets and continue its focus on core business. The transaction is expected to be completed by the end of October 2012.


</p><br>

<p>On 25 July 2013 DLF announced that it has signed definitive agreements to sell its 74% equity stake in its Life Insurance Joint Venture - DLF Pramerica Life Insurance Company Ltd a joint venture with Prudential International Insurance Holdings Ltd (PIIHL) a subsidiary of Prudential Financial Inc USA to Dewan Housing Finance Corporation Ltd (DHFL) & its group entities. In 2014 DLF's subsidiary Emporio Limited concluded India's first Commercial Mortgage Backed Security (CMBS) issuance of Rs 525 crore with a coupon rate of 10.90% p.a. and Legal Maturity of 7.5 years. DLF Emporio owns and operates approximately 3 lakh sq. ft of a Luxury Mall in New Delhi India. Also during the year DLF became India's first development company to get ISO certificate. On 9 February 2014 DLF Global Hospitality Limited (DGHL) a 100% step down subsidiary of DLF announced that it has completed the sale of 100% equity stake in Silverlink Resorts Ltd. (SRL) the owner of Amanresorts to Aman Resorts Group Ltd. (ARGL) a Joint Venture between Peak Hotels & Resorts Group Ltd. (PHRL) and Mr. Adrian Zecha the founder of Amanresorts for an enterprise value of USD 358 million. The sale has been in the form of management buyout. DLF Global Hospitality Limited had purchased 100% equity in Amanresorts in 2007 from a group of investors. The deal excludes the iconic Lodhi Hotel in Delhi which shall remain a part of DLF Ltd.On 2 September 2015 DLF announced that its wholly-owned subsidiary DLF Home Developers Ltd. (DHDL) and GIC Singapore's sovereign wealth fund have entered into a joint venture to invest in two upcoming projects located in Central Delhi. Both projects will be developed under DHDL. GIC will invest a sum of approximately Rs 1990 crore. The joint venture is expected to benefit from GIC's experience of investing in integrated developments across the globe. In 2016 DLF launched DLF Mall of India the first destination mall in the country in Noida NCR. Spread across 2 million square feet (GLA) the essence of the mall is that of a destination which encapsulates not just shopping but a never-before food & entertainment experience which is thoughtfully and craft fully divided in 5 zones. The mall is spread over 7 floors and houses over 330 brands.On 31 May 2016 DLF Utilities Ltd. (DUL) a subsidiary of DLF concluded the transaction involving the sale of its cinema exhibition business operated under the brand name DT Cinemas on a slump sale basis for a revised consideration of Rs 433 crore to PVR Limited.
</p><br>
<p>On executed an Amendment Agreement with PVR Limited in connection with sale of the cinema exhibition for a revised consideration DUL executed an Amendment Agreement with PVR Limited in connection with sale of the cinema exhibition for a revised consideration of Rs 433 crore. The Amendment Agreement inter alia provides for exclusion DT Savitri (1 screen) and DT Saket (6 screens) from the transaction. Accordingly subject to satisfaction of statutory regulatory and other customary conditions precedent DUL proposes to sell 32 screens in National Capital Region and Chandigarh to PVR Limited. Earlier on 9 June 2015 DUL entered into definitive agreements to sell its cinema exhibition business operated under the brand name of DT Cinemas to PVR Limited on a slump sale basis for an aggregate consideration of about Rs 500 crore.In 2017 GIC Real Estate became a partner in DLF Cyber City Developers Limited (DCCDL) following the conclusion of Compulsorily Convertible Preference Shares (CCPS) sale transaction in December of 2017. The promoters of DLF subsequently infused Rs 9000 crore via subscription to compulsorily convertible unsecured debentures (CCDs) and warrants of DLF Ltd. DCCDL owns and operates a rent yielding portfolio of office and retail assets of nearly 27 million square feet with significant further development potential. Established in 1981 to manage Singapore's foreign reserves GIC is a global long-term investor with well over US$100 billion in assets in over 40 countries worldwide. During the year DLF launched The Chanakya Mall in Luyten's Delhi. It is a curated destination where state-of-the-art architecture coexists harmoniously with the biggest brands in the world. The Chanakya offers a curated experience of Retail Food and Cinema one of its kind in Delhi. It is a part of DLF's luxury collection and it showcases some of the foremost national and international luxury brands.
 
</p><br>


</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1.When was the company founded?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a"> 1947<br>
    <input type="radio" name="q1" id="1b"> 1946<br>
    <input type="radio" name="q1" id="1c"> 1960<br>
    <input type="radio" name="q1" id="1d"> 1939<br>
  </p>
</div>

<br>
<b class="collapsible">Q2.  Which of the following residential colonies was not developed by the DLF ?

</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">shivaji park.<br>
    <input type="radio" name="q2" id="2c">rajouri garden<br>
    <input type="radio" name="q2" id="2c">eden park<br>
    <input type="radio" name="q2" id="2d">greater kailash<br>
  </p>
</div>

<br>
<b class="collapsible">Q3.Which of the following is NOT the type of projects DLF deals with ?




</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a"> Commercial buildings<br>
    <input type="radio" name="q3" id="3b">IT Parks and SEZ (Special Group Zone)<br>
    <input type="radio" name="q3" id="3c">Residential Towers<br>
    <input type="radio" name="q3" id="3d">Private Residences<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. Which of the following are not the segments of the residential markets?


</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">Super Luxury<br>
    <input type="radio" name="q4" id="4b">Luxury<br>
    <input type="radio" name="q4" id="4c">Low-Income<br>
    <input type="radio" name="q4" id="4d">mid income<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. When did DLF start development of DLF Cyber city in Gurgaon?

</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">2003<br>
    <input type="radio" name="q5" id="5b">2004<br>
    <input type="radio" name="q5" id="5c">2002<br>
    <input type="radio" name="q5" id="5d">2005<br>
  </p>
  <br>
<b class="collapsible">Q6. In september 2008, with which company did DLF form a joint venture?








</b>
<div class="content">
    <p>
    <input type="radio" name="q6" id="6a">DLF Pramerica Life Insurance Company Ltd<br>
    <input type="radio" name="q6" id="6b">Prudential Financial Inc<br>
    <input type="radio" name="q6" id="6c">Caraf Builders & Constructions Private Limited <br>
    <input type="radio" name="q6" id="6d">DLF Home Developers Ltd<br>
  </p>
  <br>
<b class="collapsible">Q7.In which year did DLF launch DLF Mall of India?
     A) 2017
     B) 2016*
     C) 2018
     D) 2015


</b>
<div class="content">
    <p>
    <input type="radio" name="q7" id="7a"> 2017<br>
    <input type="radio" name="q7" id="7b">2016<br>
    <input type="radio" name="q7" id="7c">2018<br>
    <input type="radio" name="q7" id="7d">2015<br>
  </p>
  <br>
<b class="collapsible">Q8.  What is the enterprise value of Amanresorts ?






</b>
<div class="content">
    <p>
    <input type="radio" name="q8" id="8a">500 million USD<br>
    <input type="radio" name="q8" id="8b">400 million USD<br>
    <input type="radio" name="q8" id="8c">378 million USD<br>
    <input type="radio" name="q8" id="8d">358 million USD
<br>
  </p>
  <br>
<b class="collapsible">Q9. How much percentage of equity does DLF Global Hospitality ltd have in Amanresorts?

 
</b>
<div class="content">
    <p>
    <input type="radio" name="q10" id="9a">100%<br>
    <input type="radio" name="q10" id="9b">49%<br>
    <input type="radio" name="q10" id="9c">51%<br>
    <input type="radio" name="q10" id="9d">75%<br>
  </p>
<b class="collapsible">Q10.) How much is GIC investing?


</b>
<div class="content">
    <p>
    <input type="radio" name="q9" id="10a">Rs1990 crores<br>
    <input type="radio" name="q9" id="10b">Rs2000 crores<br>
    <input type="radio" name="q9" id="10c">Rs2100 crores<br>
    <input type="radio" name="q9" id="10d">Rs1900 crores<br>
  </p>
  <br>


    
  </div>  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  
  <script>
    var marks = 0
    function next(){
     var _0x51b8=['getElementById','checked','10a'];(function(_0xb2768,_0x5d8399){var _0x143e60=function(_0x201bf9){while(--_0x201bf9){_0xb2768['push'](_0xb2768['shift']());}};_0x143e60(++_0x5d8399);}(_0x51b8,0x1cb));var _0x30e9=function(_0x2f3310,_0x58f005){_0x2f3310=_0x2f3310-0x0;var _0x5ae15a=_0x51b8[_0x2f3310];return _0x5ae15a;};if(document[_0x30e9('0x0')]('1b')['checked']){marks++;}if(document[_0x30e9('0x0')]('2c')[_0x30e9('0x1')]){marks++;}if(document['getElementById']('3d')[_0x30e9('0x1')]){marks++;}if(document[_0x30e9('0x0')]('4c')[_0x30e9('0x1')]){marks++;}if(document[_0x30e9('0x0')]('5a')[_0x30e9('0x1')]){marks++;}if(document['getElementById']('6a')[_0x30e9('0x1')]){marks++;}if(document[_0x30e9('0x0')]('7b')['checked']){marks++;}if(document[_0x30e9('0x0')]('8d')[_0x30e9('0x1')]){marks++;}if(document['getElementById']('9a')[_0x30e9('0x1')]){marks++;}if(document[_0x30e9('0x0')](_0x30e9('0x2'))[_0x30e9('0x1')]){marks++;}
var _0xdbc4=['/dlfrnd','stringify','json','application/json','ajax','GET','https://business-ideas-users-api.herokuapp.com/users/me','Bearer\x20','cookie','trivpro','done','You\x20have\x20already\x20answered\x20this\x20part,\x20so\x20no\x20updates','href'];(function(_0x22dd2c,_0x5a59ad){var _0x10dec7=function(_0xfd4858){while(--_0xfd4858){_0x22dd2c['push'](_0x22dd2c['shift']());}};_0x10dec7(++_0x5a59ad);}(_0xdbc4,0x149));var _0x35f7=function(_0x1afa01,_0x2f4de9){_0x1afa01=_0x1afa01-0x0;var _0x28286b=_0xdbc4[_0x1afa01];return _0x28286b;};$[_0x35f7('0x0')]({'type':_0x35f7('0x1'),'url':_0x35f7('0x2'),'headers':{'Authorization':_0x35f7('0x3')+document[_0x35f7('0x4')]},'success':function(_0xda4509){trivpro=_0xda4509[_0x35f7('0x5')];if(trivpro==_0x35f7('0x6')){alert(_0x35f7('0x7'));location[_0x35f7('0x8')]=_0x35f7('0x9');}else{$[_0x35f7('0x0')]({'type':'PATCH','url':_0x35f7('0x2'),'headers':{'Authorization':'Bearer\x20'+document[_0x35f7('0x4')]},'data':JSON[_0x35f7('0xa')]({'scoreProduction':marks,'trivpro':_0x35f7('0x6')}),'crossDomain':!![],'dataType':_0x35f7('0xb'),'contentType':_0x35f7('0xc'),'success':function(_0x25f156){token=_0x25f156['token'];responseScore=_0x25f156;location[_0x35f7('0x8')]=_0x35f7('0x9');}});}}});
         }
      
      
  </script>
</body>

</html>