<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>
<style type="text/css">
  p,li{
    font-family: comic-sans;
    font-size: 1.3em;
  }
</style>
<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">DLF</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
  <center><h1>DLF R&D</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p align="justify">&emsp;&emsp;With more than 70 years of real estate  research , development, and management experience, DLF has an unparalleled scale of delivery and an unmatched track record of customer-centric service excellence in India.
The company takes  pride in their  uncompromising integrity in Research and Development to assure people quality over their 73 years of legacy.They have made it their core mission to provide Real-estate Development and to invest services of the highest calibre .
DLF is invested in driving sustainable research with efficiency across every vertical - from the pioneering waste water treatment systems in the DLF Golf and Country Club, to the responsible recycling of their  construction materials. 
The company  endeavour to educate and empower to  all their  stakeholders with respect to shared environmental obligations, with the intention of placing the Indian industry at the global forefront of green innovation.
Today, DLF is the largest publicly listed real estate company in India, with residential, commercial, and retail properties in 15 states and 24 cities.
The company’s diverse verticals that reflect their  dedication in  developing the ecosystems for India’s changing needs. But the  foundation has always been the employees, our customers, our stakeholders, and our shareholders. We invest in spearheading innovation through empowerment and optimism, in order to build the foundation of India’s future on the legacy of our past.

</p><br>



  <p align="justify">&emsp;&emsp;The DLF’ history goes back to the mid 90’s where they have taken projects independently in one of the major city and capital of India, DELHI. DLF's first private venture was Krishna Nagar in East Delhi, which was finished in 1949. Along these lines, the organization created 21 settlements in Delhi, including Model Town, Rajouri Garden, Punjabi Bagh, South Extension, Greater Kailash, Kailash Colony and Hauz Khas. Although these new settlements have brought huge success and profit to the DLF, it doesn’t last longer. The entry of Delhi Development Act in 1957 was the primary genuine test to organization's development . The Act implied that the administration would expect control of all land improvement exercises in the city. 

Accordingly, DLF chose to move past Delhi and concentrated on the suburb of Gurgaon in Haryana. which had the potential for improvement of private and business properties. As DLF began to obtain land under the initiative of Chairman K.P. Singh, Gurgaon set out on a time of fast development. 


The land buy program received an accommodating methodology with the goal that the dealers don't feel bamboozled. With this impact, DLF joined forces with ranchers so they additionally got an offer in benefits. DLF procured and made a land bank and afterward offered plots to purchasers after boundary. The benefits from the deals were therefore imparted to ranchers, which urged more ranchers to approach and band together with DLF. 
DLF Camellias is the most costly and top of the line extravagance private advancement by DLF India up until this point. They are accessible 'exceptional by-welcome' apportioning as it were.

<br>

</p>
<p>Ola has a market share potential of 60% in India. The other contenders in the market
which fall under the organized segment include Taxiforsure(14%), meru cabs(16%),
uber(5%) and others(5%). Taxiforsure was acquired by Ola which further increases its
market share to about 74%.
Being a part of the organized taxi market in the country which has the maximum
potential for growth in the near future, it then becomes a fact that Ola is indeed faced by
many competitions in this sector. The major competitor of Ola is Uber. Meru and other
are not well designated competitors as the price criteria offered by Ola and the range of
cars available for rent is far better and well accepted by the customer. Uber being at a
position of 5% market share holds tough competition for Ola as the future prospects of
Uber are to penetrate deep into the Indian market with an investment of over $400
million to take on Ola. Establishing a number 1 position in the taxi market and
maintaining it indicates that Ola has services to offer to the market which are better than
other service providers from the same segment. Ola is different from other aggregator
service provider or other segments in the way that they themselves are the
marketplace. This is because they list the rates and cars in their system. This leads to
price transparency and enables them to achieve customer trust. Another feature that
makes Ola superior is that they do not limit their services to the city boundary. They
offer car rental facility for outstation trips as well. Also, the ride later option available with
Ola makes it more customer friendly service. Ola also takes into account the safety of
the customer and thus has a 24*7 customer care service. The attractive price package
and variety in the fleet of cars target the moderate income segment which increases
their customer base.
<br>
 
</p>
<br>

  <p align="justify">&emsp;&emsp;The company till now had six verticals in the real estate division : retail, offices, commercial, homes, SEZs and hotels.With a crash in the real estate market and the stock markets not conducive for listing, the company has put these plans on hold. After the restructuring, the verticals will still remain legal entities, but will work in a more collaborative manner.
According to a company executive, the reason for the restructuring was to tap synergies in sales, marketing, construction and new product launches. The executive added that DLF believes relationships with its customers can be strengthened by approaching them as a single unit. With central decision making, the company can also focus more on divisions which will give better returns and faster cash flows. This move comes a few months after the company had merged its non core functions like HR, Legal and Accounting into a single team.

</p><br>

<p align="justify">&emsp;&emsp;Real estate company typically work in an office with other employers and co-workers and have many opportunities to discuss new listings, get updates on listings, and research on the buyer’s and seller’s needs. Another option that company utilize to narrow down a search for a buyer or to perform research on the competition for sellers is the MLS tour. This allows company to quickly gather first-hand knowledge on a number of available properties in the local market. 
Research and Development (R&D)in construction company includes a broad range of activities directed towards improving quality,productivity and efficiency of the materials,equipment,labor , and management of constructions. The value of R&D activities is well accepted as a means for improving productivity and generating new ideas in electronics ,telecommunications, genetic engineering ,and other technical fields.
</p><br>



<p align="justify">&emsp;&emsp;The linkages between construction research and application,however,have been more difficult to document,despite advances made during the 20th century in the new equipment and materials,largely because of the great number of mostly small scale builders and the equipment and material producers .for this ame reason, the construction industry has greater difficulty in mobilizing resources needed to support substantial research programmes.
So the company is mainly  working hard to improve hardware of the constructions by improving construction methods and developing technology for automation(including robotics).


</p><br>





</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1.DLF is the largest publicly listed real estate company in India,with retail properties in________ states</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a">21<br>
    <input type="radio" name="q1" id="1b">29<br>
    <input type="radio" name="q1" id="1c">20<br>
    <input type="radio" name="q1" id="1d">none of the above<br>
  </p>
</div>

<br>
<b class="collapsible">Q2.DLF's first private venture was initially started in which state</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">maharashtra<br>
    <input type="radio" name="q2" id="2b">goa
<br>
    <input type="radio" name="q2" id="2c">karnataka <br>
    <input type="radio" name="q2" id="2d">delhi 
<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. The company takes the  pride in their  uncompromising integrity in Research and Development to assure people quality over  how many years?</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">73<br>
    <input type="radio" name="q3" id="3b">81<br>
    <input type="radio" name="q3" id="3c">65<br>
    <input type="radio" name="q3" id="3d">25
<br>
  </p>
</div>

<br>
<b class="collapsible">Q4.DLF began to obtain land under the initiative of Chairman named</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">P.K.Singh<br>
    <input type="radio" name="q4" id="4b">Kapoor rav<br>
    <input type="radio" name="q4" id="4c">ram pothineni<br>
    <input type="radio" name="q4" id="4d">None of the above<br>
  </p>
</div>

<br>
<b class="collapsible">Q5.The executive added that DLF believes relationships with its customers can be strengthened by ___________
</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">publicising them with their projects <br>
    <input type="radio" name="q5" id="5b">advertisements<br>
    <input type="radio" name="q5" id="5c">approaching them as a single unit <br>
    <input type="radio" name="q5" id="5d">optimisation of their works <br>
  </p>

<br>
<b class="collapsible">Q6.which  is the most costly and top of the line extravagance private advancement by DLF India up until this point</b>
<div class="content">
  <p>
    <input type="radio" name="q6" id="6a">DLF Camellias<br>
    <input type="radio" name="q6" id="6b">DLF blocks <br>
    <input type="radio" name="q6" id="6c">DLF malls <br>
    <input type="radio" name="q6" id="6d">DLF private guest houses <br>
  </p>
</div>

<br>
<b class="collapsible">Q7.which act in delhi on the year  1957 was the primary genuine test to organization's development in terms of improvement exercises in the city. 
</b>
<div class="content">
  <p>
    <input type="radio" name="q7" id="7a">Delhi Development Act<br>
    <input type="radio" name="q7" id="7b">exercise  development act <br>
    <input type="radio" name="q7" id="7c">Delhi land maintenance act </br>
    <input type="radio" name="q7" id="7d">property litigation act <br>
  </p>
</div>

<br>
<b class="collapsible">Q8.DLF is invested in which  driving sustainable research with efficiency across every vertical</b>
<div class="content">
  <p>
    <input type="radio" name="q8" id="8a">water treatment systems<br>
    <input type="radio" name="q8" id="8b">road constructions<br>
    <input type="radio" name="q8" id="8c">land fertility <br>
    <input type="radio" name="q8" id="8d">construction materials 
<br>
  </p>
</div>

<br>
<b class="collapsible">Q9.The linkages between construction research and application,however,have been more difficult to document,despite advances in the new equipment and materials,largely because of ________</b>
<div class="content">
  <p>
    <input type="radio" name="q9" id="9a">small scale builders and the equipment <br>
    <input type="radio" name="q9" id="9b">interference of MNC companies for their production .<br>
    <input type="radio" name="q9" id="9c">small scale material producers <br>
    <input type="radio" name="q9" id="9d">resource outsourcing areas <br>
  </p>
</div>

<br>
<b class="collapsible">Q10.The company is mainly  working hard to improve hardware of the constructions by improving </b>
<div class="content">
  <p>
    <input type="radio" name="q10" id="10a">constructions methods <br>
    <input type="radio" name="q10" id="10b">Land inspection methods <br>
    <input type="radio" name="q10" id="10c">Resource management<br>
    <input type="radio" name="q10" id="10d">skillset of labourers<br>
  </p>
</div>
<br>
    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <script>
    var marks = 0
    function next(){
   var _0x432b=['10a','getElementById','checked'];(function(_0x31565c,_0xcf26f0){var _0x49599d=function(_0x42f403){while(--_0x42f403){_0x31565c['push'](_0x31565c['shift']());}};_0x49599d(++_0xcf26f0);}(_0x432b,0xee));var _0x19d5=function(_0x16761d,_0x46d180){_0x16761d=_0x16761d-0x0;var _0x2622e6=_0x432b[_0x16761d];return _0x2622e6;};if(document[_0x19d5('0x0')]('1d')['checked']){marks++;}if(document[_0x19d5('0x0')]('2d')[_0x19d5('0x1')]){marks++;}if(document[_0x19d5('0x0')]('3a')['checked']){marks++;}if(document[_0x19d5('0x0')]('4d')['checked']){marks++;}if(document[_0x19d5('0x0')]('5c')['checked']){marks++;}if(document[_0x19d5('0x0')]('6a')[_0x19d5('0x1')]){marks++;}if(document[_0x19d5('0x0')]('7a')[_0x19d5('0x1')]){marks++;}if(document[_0x19d5('0x0')]('8a')[_0x19d5('0x1')]){marks++;}if(document[_0x19d5('0x0')]('9a')['checked']){marks++;}if(document[_0x19d5('0x0')](_0x19d5('0x2'))[_0x19d5('0x1')]){marks++;}
      var _0x72f6=['https://business-ideas-users-api.herokuapp.com/users/me','Bearer\x20','trivrnd','done','You\x20have\x20already\x20answered\x20this\x20part,\x20so\x20no\x20updates','href','PATCH','cookie','application/json','ajax'];(function(_0x1d0b54,_0x41da17){var _0x5ed5c8=function(_0x255262){while(--_0x255262){_0x1d0b54['push'](_0x1d0b54['shift']());}};_0x5ed5c8(++_0x41da17);}(_0x72f6,0xe5));var _0x2afb=function(_0x106765,_0x1277b7){_0x106765=_0x106765-0x0;var _0x19f13e=_0x72f6[_0x106765];return _0x19f13e;};$[_0x2afb('0x0')]({'type':'GET','url':_0x2afb('0x1'),'headers':{'Authorization':_0x2afb('0x2')+document['cookie']},'success':function(_0x18b5e5){trivrnd=_0x18b5e5[_0x2afb('0x3')];if(trivrnd==_0x2afb('0x4')){alert(_0x2afb('0x5'));location[_0x2afb('0x6')]='/question';}else{$[_0x2afb('0x0')]({'type':_0x2afb('0x7'),'url':_0x2afb('0x1'),'headers':{'Authorization':_0x2afb('0x2')+document[_0x2afb('0x8')]},'data':JSON['stringify']({'scoreRnd':marks,'trivrnd':'done','flag':'true'}),'crossDomain':!![],'dataType':'json','contentType':_0x2afb('0x9'),'success':function(_0x34ecc6){token=_0x34ecc6['token'];responseScore=_0x34ecc6;location['href']='/question';}});}}});
         }
      
      
  </script>

</body>

</html>