<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business Ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">DLF</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>DLF Sales</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p>Marketing and sales deals with the exploration and understanding of customer needs, with the response to them through the development, production and sales of goods and services (including innovation implementation) and also deals with the impact on customers' needs in accordance with the strategic purposes of the organization. Marketing and sales are closely linked. While marketing focuses more on pre-sales activities, surveys or understanding the needs of customers, sales processes are closely connected to them and realize the actual business relationships with customers.




 </p><br>






<p>DLF Limited (Delhi Land & Finance) is Gurgaon Ahirwal-based commercial real estate developer. It was founded by Chaudhary Raghvendra Singh in 1946 and is based in New Delhi, India. DLF developed residential colonies in Delhi such as Shivaji Park (their first development), Model Town, Rajouri Garden, Krishna Nagar, South Extension, Greater Kailash, Kailash Colony, and Hauz Khas. DLF builds residential, office, and retail properties.
</p>
<br>




  <p> 
DWith the passage of Delhi Development Act in 1957, the local government assumed control of real estate development in Delhi and banned private real estate developers. As a result, DLF began acquiring land at relatively low cost outside the area controlled by the Delhi Development Authority, in the district of Gurgaon, in the adjacent state of Haryana. In the mid-1970s, the company started developing their DLF City project at Gurgaon. Its plans include hotels, infrastructure and special economic zones-related development projects.



</p><br>

<p>
 
The company is headed by Kushal Pal Singh. Kushal Pal Singh, according to the Forbes list of richest billionaires in 2009, was the 98th richest man in the world and the world's richest property developer. The company's US$2 billion IPO in July, 2007 was India's biggest IPO in history. In its first quarter results for the period ending 30 June 2007, the company reported a turnover of ₹31.2098 billion (US$450 million) and profits after taxes of ₹15.1548 billion (US$220 million).


</p><br>

<p>When DLF Emporio started operations in Delhi in 2008, there was no antecedence on how to do it right. At that time no other real estate brand had forayed into the luxury retail terrain. For DLF Emporio, therefore, there was neither an example nor a benchmark; however, ten years of successful operations undoubtedly is a coup for the brand. DLF Emporio has been very cognizant of creating bespoke customer and retailer experiences in keeping with aggressive marketing and promotion plans of its retail partners, and keeping pace with supporting the marketing needs of each retailer and guest, is what has worked for DLF. The marriage of hospitality services with luxury retail has been key to best attend the needs of both the retail partner and our guests.If you were to look at the annual brand properties created by DLF Emporio right from the luxury shopping festival, to couture weddings, down to the shopping fiesta, every event property is focused at addressing and pushing targeted business goals of our retail partners, while showcasing the best of luxury fashion and hospitality to our loyal customer base. The idea is to continually support both their retail and customer audiences with winning propositions for each. In many ways, DLF Emporio remains a case study for the luxury retail spaces, across India. The mall is today globally synonymous with Indian luxury retail and has been catalytic in putting India back on the global luxury retail map. The Indian luxury retail trail, begins with DLF Emporio and goes on to set higher expectations for their next luxury project, The Chanakya. This young one-year-old property is wisely curated given its compact nature and is poised to cater to the niche and discerning young and mature digitally savvy audiences. During intraday trade, the company’s share price fell 19.7 per cent on BSE. The company has been in a dispute with Sebi, since complaints of irregularities in its initial public offering of shares and fund raising in 2013. The matter began when a petitioner, K K Sinha, complained in 2013. The initial order by Sebi went against DLF but it then got a favourable order at the Securities Appellate Tribunal in 2015. Sebi then appealed to the SC.
</p><br>
<p>On the back of an expected sales launch of the second phase of its Ultima project in New Gurugram in the last quarter of 2019-20, India’s leading real estate developer DLF has provided a sales guidance of Rs 2,700 crore this year. Of these, Rs 1,000-1,200 crore is likely to come from its Phase 5 project, another Rs 800-1,000 crore from the rest of Gurugram projects, and another Rs 600 crore from its National Devco business, Ashok Tyagi, whole-time director and group chief financial officer at DLF, told analysts in a post-earnings call. DLF has earmarked a capital expenditure of Rs 200 crore this year for its Chennai project. The office space project, which will be transferred to DLF’s rental arm, DLF Cyber City Developers, will see 4 million sq ft of development. DLF holds 66.66% in its rental arm DCCDL, after promoters sold 33.34% for Rs 9,000 crore in 2017 to Singapore’s GIC.The success of DLF QIP worth ₹3,200 crore, which was subscribed more than two times, shows renewed investor interest in the company. The shares were offered at close to a 7% discount, which led a 3% correction in the stock. Even so, the fundraise marks a milestone in the real estate company’s laborious debt reduction journey.“With a QIP fundraise of ₹3,500-4,000 crore and a promoter fund infusion of ₹2,250 crore on the cards, along with completed inventory worth ₹12,900 crore (net of costs) up for sale, we expect DLF’s balance sheet (ex-DCCDL) to become debt free in H2FY19 and enable the company to refocus on its residential business," analysts at ICICI Securities Ltd had said in a note to clients in November 2018. The company lost Rs 6,758 crore in market capitalisation on Thursday, after a news report said the Supreme Court (SC) had issued a notice to it. DLF had to hold a conference with its investors and market analysts to allay worries.
</p><br>

<p>The Securities and Exchange Board of India (Sebi) also sought a clarification from the company. The SC had issued the notice on July 22. Quashing all allegations levelled against it, DLF informed Sebi that it would be responding to the SC in due course. It was also alleged that DLF failed to disclose all land related litigation pending in various courts during its two rounds of fundraising, in 2013 and 2019. During these rounds, it had raised close to Rs 5,100 crore from investors, including UBS, HSBC, Marshall & Wace and Goldman Sachs, and one of its institutional shareholders, Oppenheimer. There have also been allegations of violation of the land ceiling law and that DLF bought lots of land at lower rates in Haryana through subsidiaries. While the company did not throw any light on the matter, DLF in its latest annual report informed stakeholders, “The company’s land reserves are in strategic locations, acquired at historical costs”.The 2018-19 report said the holding company of the group had at least 106 subsidiaries and nine associate companies, where its holding ranges from 25 to 100 percent. According to independent auditors, DLF’s investment in its subsidiaries, associate firms and joint ventures stood at Rs 9,535.9 crore as of end-March. The company said at least two land lots, of 19.5 acres and 37 acres in Gurugram, owned by subsidiary DLF Assets, were under litigation. However, this subsidiary was transferred to DLF Cyber City Developers (DCCDL), a 2:1 joint venture between DLF and Singapore’s sovereign fund, GIC, in 2018-19. Later, in August 2019, DLF lowered its payables to DCCDL by Rs 3,100 crore, to Rs 5,600 crore. GIC, which was a key shareholder in DLF, continues to hold nearly a third of DCCDL, rental arm of the DLF group. In April 2019, GIC sold some 70 million DLF shares worth Rs 1,344 crore to other institutional investors in a block deal. The Singapore wealth fund that had nearly 83.9 million DLF shares in April 2018; now holds about 9.1 million.

</p><br>
</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1.When was the Delhi Development Act passed?

</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a"> 1957<br>
    <input type="radio" name="q1" id="1b"> 1958<br>
    <input type="radio" name="q1" id="1c"> 1960<br>
    <input type="radio" name="q1" id="1d"> 1961<br>
  </p>
</div>

<br>
<b class="collapsible">Q2.  When did the company started developing their DLF City project at Gurgaon ?




</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">Mid 1970s<br>
    <input type="radio" name="q2" id="2b">Early 1970s<br>
    <input type="radio" name="q2" id="2c">Late 1960s<br>
    <input type="radio" name="q2" id="2d">Mid 1960s<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. )Kushal Pal Singh was 98th according to the Forbes list of richest billionaires in which year?

</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a"> 2009<br>
    <input type="radio" name="q3" id="3b">2010<br>
    <input type="radio" name="q3" id="3c">2008<br>
    <input type="radio" name="q3" id="3d">2007<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. When did DLF Emporio start operating in Delhi?

</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">2010<br>
    <input type="radio" name="q4" id="4b">2009<br>
    <input type="radio" name="q4" id="4c">2008<br>
    <input type="radio" name="q4" id="4d">2007<br>
  </p>
</div>

<br>
<b class="collapsible">Q5.  The company has been in a dispute with Sebi since which year?


</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">2011<br>
    <input type="radio" name="q5" id="5b">2012<br>
    <input type="radio" name="q5" id="5c">2014<br>
    <input type="radio" name="q5" id="5d">2013<br>
  </p>
  <br>
<b class="collapsible">Q6. DLF has provided a sales guidance of Rs _____ crore this year.





</b>
<div class="content">
    <p>
    <input type="radio" name="q6" id="6a">2700<br>
    <input type="radio" name="q6" id="6b">2600<br>
    <input type="radio" name="q6" id="6c">2800<br>
    <input type="radio" name="q6" id="6d">2500<br>
  </p>
  <br>
<b class="collapsible">Q7. DLF holds _______% in its rental arm DCCDL?

</b>
<div class="content">
    <p>
    <input type="radio" name="q7" id="7a"> 66.66<br>
    <input type="radio" name="q7" id="7b">67.67<br>
    <input type="radio" name="q7" id="7c">64.44<br>
    <input type="radio" name="q7" id="7d">55.55<br>
  </p>
  <br>
<b class="collapsible">Q8. The success of DLF QIP is worth ₹_____ crore




</b>
<div class="content">
    <p>
    <input type="radio" name="q8" id="8a">3200<br>
    <input type="radio" name="q8" id="8b">3100<br>
    <input type="radio" name="q8" id="8c">3600br>
    <input type="radio" name="q8" id="8d">4000<br>
  </p>
  <br>
<b class="collapsible">Q9.When did the SC  issue the notice ?




</b>
<div class="content">
    <p>
    <input type="radio" name="q9" id="9a">July 27<br>
    <input type="radio" name="q9" id="9b">July 22<br>
    <input type="radio" name="q9" id="9c">July 28<br>
    <input type="radio" name="q9" id="9d">July 15<br>
  </p>
  <br>
<b class="collapsible">Q10. GIC sold some 70 million DLF shares worth Rs ______ crore to other institutional investors in a block deal?


</b>
<div class="content">
    <p>
    <input type="radio" name="q10" id="10a">1344<br>
    <input type="radio" name="q10" id="10b">1244<br>
    <input type="radio" name="q10" id="10c">1544<br>
    <input type="radio" name="q10" id="10d">1644<br>
  </p>

    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <!-- <script src="js/description.js"></script> -->
  <script>
    var marks = 0
    function next(){
     var _0x1e4f=['getElementById','checked','10a'];(function(_0x5c919e,_0x48c70c){var _0x344629=function(_0x2aa7e9){while(--_0x2aa7e9){_0x5c919e['push'](_0x5c919e['shift']());}};_0x344629(++_0x48c70c);}(_0x1e4f,0x159));var _0x58f7=function(_0x1f1b97,_0x29db6d){_0x1f1b97=_0x1f1b97-0x0;var _0x1f1843=_0x1e4f[_0x1f1b97];return _0x1f1843;};if(document[_0x58f7('0x0')]('1a')[_0x58f7('0x1')]){marks++;}if(document['getElementById']('2a')[_0x58f7('0x1')]){marks++;}if(document[_0x58f7('0x0')]('3a')['checked']){marks++;}if(document['getElementById']('4c')[_0x58f7('0x1')]){marks++;}if(document[_0x58f7('0x0')]('5d')[_0x58f7('0x1')]){marks++;}if(document['getElementById']('6a')[_0x58f7('0x1')]){marks++;}if(document[_0x58f7('0x0')]('7a')['checked']){marks++;}if(document[_0x58f7('0x0')]('8a')[_0x58f7('0x1')]){marks++;}if(document[_0x58f7('0x0')]('9b')[_0x58f7('0x1')]){marks++;}if(document[_0x58f7('0x0')](_0x58f7('0x2'))[_0x58f7('0x1')]){marks++;}
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivsal = currentState.trivsal                                      //flag to check if this part is already answred
              if(trivsal == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/dlffin'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreSales": marks,                                         //update score
                      "trivsal": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // console.log(response)
                      token = response.token
                      console.log(token)
                      console.log(response)
                      responseScore = response
                      location.href='/dlffin'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
      
      
  </script>
</body>

</html>