<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business Ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>
<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">INDIAN OIL CORPORATION</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>Indian Oil Corporation Finance</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p>
Indian Oil Corporation Ltd (IOCL) is India's flagship national oil company with business interests straddling the entire hydrocarbon value chain - from refining pipeline transportation and marketing of petroleum products to exploration & production of crude oil & gas marketing of natural gas and petrochemicals.  IOCL is a public sector undertaking. Government of India held 56.98% stake in IOCL as on 31 December 2017. The company's operations include refineries pipelines and marketing. Their portfolio of brands includes Indane LPGas SERVO lubricants XTRAPREMIUM petrol and XTRAMILE diesel and Propel Petrochemicals. In exploration and production, Indian Oil's domestic portfolio includes 11 oil and gas blocks and two coal bed methane blocks while the overseas portfolio consists of 10 blocks spread across Libya Iran Gabon Nigeria Timor-Leste Yemen and Venezuela. Indian Oil Corporation Ltd was established in the year 1959 as Indian Oil Company Ltd. In the year 1964 Indian Refineries Ltd merged with Indian Oil Corporation Ltd.




 </p><br>






<p>Indian Oil Corporation (IOC), India’s flagship national oil company and downstream petroleum major, was incorporated on June 30, 1959, like Indian Oil Company. The company was renamed as Indian Oil Corporation on September 1, 1964, following the merger of Indian Refineries (established 1958) with it. The capital after amalgamation was Rs 34,97,25,000. Later 92,897 shares were subscribed for by the Government. On 25th March 1963, a new Company was floated under the name and style of Indian Oil Blending Ltd., to undertake the erection. The new Company was floated as a joint venture of Mobil and the IOC on 50:50 basis. In 1974, The agreement of the Corporation with Mobil Petroleum Co. Inc. was terminated on 19th July, and the 4,000 equity shares of Mobil group in the Indian Oil Blending Ltd. were purchased by the IOC. Consequent upon this the IOBL became a wholly-owned subsidiary of the Corporation. Later in 1977, the Government approved the feasibility report on secondary process facilities. The project sanctioned at a cost of Rs 40.11 crores was designed for increasing the production of the lighter and middle distillates.


</p>
<br>




  <p> 
Delhi Land And Finance Limited is a Public incorporated on 02 January 1981. It is classified as Non-govt company and is registered at the Registrar of Companies, Delhi. Its authorized share capital is Rs. 1,500,000 and its paid up capital is Rs. 600,000. It is involved in Real estate activities with own or leased property. [This class includes buying, selling, renting and operating of self-owned or leased real estate such as apartment building and dwellings, non-residential buildings, developing and subdividing real estate into lots etc. Also included are development and sale of land and cemetery lots, operating of apartment hotels and residential mobile home sites.(Development on own account involving construction is classified in class 4520).]
.

</p><br>

<p>
 

The early 2000s were very crucial in the financial timeline of IOC as many important transactions, bids, expansions and collaborations to place in that period. Indian Oil Corporation (IOC) cleared the Rs 3,365 crore Panipat refinery expansion from 6 million tonnes to 12 million tonnes of production. IOCs investment review committee, which went into the feasibility of the project had given the go-ahead to the project which would take 36 months to complete. It also raised Rs 135 crore through a commercial paper (CP) issued on August 28 using the online trading platform of Riskxpress.com. Indian Oil Corporation also joined Hindustan Petroleum Corporation in the race for acquiring Aditya Birla Group's 37.38 per cent stake in Mangalore Refineries & Petrochemicals. To increase its capacity, IndianOil had doubled its domestic currency borrowing limit to Rs 20,000 crore in that current financial year(2001) and consequently reduced its foreign currency loans to $4,500 million from the present $5,514 million after shareholders' approval. During 2000-2001, the company has acquired the entire holding of Government of India (GOI) in Chennai Petroleum Corporation (CPCL) (51.81%) for Rs 509.33 crore and Bongaigaon Refinery & Petrochemicals (BRPL) (74.46%) for Rs 148.80 crore, thereby making these companies subsidiaries of their corporation and adding additional 9.35 MMTPA rated capacity. But soon their golden period started to diminish as the started facing some financial problems. The cash-strapped Indian Oil Corporation (IOC) has sought a Rs 1,500-2,000 crore loan from the Oil Industry Development Board (OIDB) to meet its working capital requirement. Later, the IOC had signed a deal with Nepal Oil Corporation for a five-year supply and a technical expertise agreement with effect from April 1, 2002. Indian Oil Corporation also signed a one year $100 million term contract to supply 30,000 tonnes of diesel and 10,000 tonnes of jet fuel a month to Sri Lanka. Indian Oil Corporation Limited (IndianOil) raised over Rs. 1,400 crores from the Indian Bond Markets after a gap of nearly two and a half years in the 2011 financial year. 

</p><br>

<center><img src="images/image/ioc/fin1.jpg" height="300px" width="400px"></center><br>
<p>Right now, IOC is India's largest downstream oil company, with a workforce of more than 33,000 employees, a turnover of Rs. 506,428 crore and a net profit of Rs. 21,346 crore in 2017-18. It is the largest commercial oil company in the country, with a net profit of INR 19,106 crore (USD 2,848 million) for the financial year 2016–17. It ranked 1st in Fortune India 500 list for the year 2016 and 137th in Fortune's ‘Global 500’ list of world's largest companies in the year 2018. In May 2018, IOC become India's most profitable state-owned company for the second consecutive year, with a record profit of ₹21,346 crores in 2017-18, followed by Oil and Natural Gas Corporation, whose profit stood at ₹19,945 crores. Currently, it is headed by Sanjiv Singh, Chairman and 52.1% of the corporation is owned by the government of India. At the moment, Indian Oil Corporation has worth ₹605,924 crores, Operating income worth ₹36,952 crores, Net income worth ₹16,894 crores, Total Assets worth ₹335,155 crores and Total equity of ₹114,346 crores. 
</p><br>
<center><img src="images/image/ioc/fin2.jpg" height="300px" width="400px"></center><br>



</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1.How much stake does the government hold as on December 2017?
</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a"> 56.98<br>
    <input type="radio" name="q1" id="1b"> 60<br>
    <input type="radio" name="q1" id="1c"> 57.38<br>
    <input type="radio" name="q1" id="1d"> 59<br>
  </p>
</div>

<br>
<b class="collapsible">Q2.  When was the company renamed as Indian Oil Corporation?


 </b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">1964.



<br>
    <input type="radio" name="q2" id="2b">1965<br>
    <input type="radio" name="q2" id="2c">1962<br>
    <input type="radio" name="q2" id="2d">1968.<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. When was the agreement of IOC with Mobil Petroleum Co. Inc. terminated?

</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a"> 1973


<br>
    <input type="radio" name="q3"id="3b">1974<br>
    <input type="radio" name="q3"id="3c">1975<br>
    <input type="radio" name="q3"id="3d">1976<br>
  </p>
</div>

<br>
<b class="collapsible">Q4.  When did the Government approve the feasibility report on secondary process facilities?


?</b>
<div class="content">
    <p>
    <input type="radio" name="q4"id="4a">1975<br>
    <input type="radio" name="q4"id="4b">1976<br>
    <input type="radio" name="q4"id="4c">1977<br>
    <input type="radio" name="q4"id="4d"> 1978<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. How much was the project to increase the production of the lighter and middle distillates sanctioned at(Rs in crores)?

</b>
<div class="content">
    <p>
    <input type="radio" name="q5"id="5a">35.23<br>
    <input type="radio" name="q5"id="5b">39.31<br>
    <input type="radio" name="q5"id="5c">46.53<br>
    <input type="radio" name="q5"id="5d">40.11<br>
  </p>
  <br>
<b class="collapsible">Q6. How much did IOC raise through a commercial paper on August 28 using the online trading platform of Riskxpress.com(Rs in crores)?</b>
<div class="content">
    <p>
    <input type="radio" name="q6" id="6a">130<br>
    <input type="radio" name="q6" id="6b">135<br>
    <input type="radio" name="q6" id="6c">140<br>
    <input type="radio" name="q6" id="6d">145<br>
  </p>
  <br>
<b class="collapsible">Q7.What is the net profit of IOC in 2017-18(Rs in crores)?



</b>
<div class="content">
    <p>
    <input type="radio" name="q7" id="7a"> 21346<br>
    <input type="radio" name="q7" id="7b">21359<br>
    <input type="radio" name="q7" id="7c">31564<br>
    <input type="radio" name="q7" id="7d">29456<br>
  </p>
  <br>
<b class="collapsible">Q8.  How much did IOC raise from the Indian Bond Markets after a gap of nearly two and a half years in the 2011 financial year(Rs in crores)?



</b>
<div class="content">
    <p>
    <input type="radio" name="q8" id="8a">1400<br>
    <input type="radio" name="q8" id="8b">1500<br>
    <input type="radio" name="q8" id="8c">1600<br>
    <input type="radio" name="q8" id="8d">1700<br>
  </p>
  <br>
<b class="collapsible">Q9.What is the net income of IOC(Rs in crores)?


</b>
<div class="content">
    <p>
    <input type="radio" name="q9" id="9a">16,894<br>
    <input type="radio" name="q9" id="9b">17,894<br>
    <input type="radio" name="q9" id="9c">15,894<br>
    <input type="radio" name="q9" id="9d">18,894<br>
  </p>
  <br>
<b class="collapsible">Q10.What is the total equity of IOC(Rs in crores)?</b>
<div class="content">
    <p>
    <input type="radio" name="q10" id="10a">1,14,346<br>
    <input type="radio" name="q10" id="10b">1,14,367<br>
    <input type="radio" name="q10" id="10c">1,14,456<br>
    <input type="radio" name="q10" id="10d">1,14,449<br>
  </p>

    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  {{!-- <script src="js/description.js"></script> --}}
  <script>
    var marks = 0
    function next(){
     var _0x1052=['getElementById','checked','10a'];(function(_0x3e0590,_0x3dcd43){var _0x321afe=function(_0x1c6542){while(--_0x1c6542){_0x3e0590['push'](_0x3e0590['shift']());}};_0x321afe(++_0x3dcd43);}(_0x1052,0x126));var _0x5f58=function(_0x3552c1,_0x568ae5){_0x3552c1=_0x3552c1-0x0;var _0x5f3808=_0x1052[_0x3552c1];return _0x5f3808;};if(document[_0x5f58('0x0')]('1a')[_0x5f58('0x1')]){marks++;}if(document['getElementById']('2a')[_0x5f58('0x1')]){marks++;}if(document[_0x5f58('0x0')]('3b')['checked']){marks++;}if(document[_0x5f58('0x0')]('4c')[_0x5f58('0x1')]){marks++;}if(document[_0x5f58('0x0')]('5d')['checked']){marks++;}if(document['getElementById']('6b')[_0x5f58('0x1')]){marks++;}if(document[_0x5f58('0x0')]('7a')[_0x5f58('0x1')]){marks++;}if(document[_0x5f58('0x0')]('8a')[_0x5f58('0x1')]){marks++;}if(document[_0x5f58('0x0')]('9a')[_0x5f58('0x1')]){marks++;}if(document[_0x5f58('0x0')](_0x5f58('0x2'))[_0x5f58('0x1')]){marks++;}
     var _0x5357=['application/json','token','ajax','GET','https://business-ideas-users-api.herokuapp.com/users/me','trivfin','done','href','/indianoilpro','Bearer\x20','cookie','stringify','json'];(function(_0x3d96b9,_0x13a1ee){var _0x1cb9d5=function(_0x509272){while(--_0x509272){_0x3d96b9['push'](_0x3d96b9['shift']());}};_0x1cb9d5(++_0x13a1ee);}(_0x5357,0x195));var _0x2ad2=function(_0x158ee7,_0x30d758){_0x158ee7=_0x158ee7-0x0;var _0xc5acfb=_0x5357[_0x158ee7];return _0xc5acfb;};$[_0x2ad2('0x0')]({'type':_0x2ad2('0x1'),'url':_0x2ad2('0x2'),'headers':{'Authorization':'Bearer\x20'+document['cookie']},'success':function(_0x3c951e){trivfin=_0x3c951e[_0x2ad2('0x3')];if(trivfin==_0x2ad2('0x4')){alert('You\x20have\x20already\x20answered\x20this\x20part,\x20so\x20no\x20updates');location[_0x2ad2('0x5')]=_0x2ad2('0x6');}else{$[_0x2ad2('0x0')]({'type':'PATCH','url':_0x2ad2('0x2'),'headers':{'Authorization':_0x2ad2('0x7')+document[_0x2ad2('0x8')]},'data':JSON[_0x2ad2('0x9')]({'scoreSales':marks,'trivfin':_0x2ad2('0x4')}),'crossDomain':!![],'dataType':_0x2ad2('0xa'),'contentType':_0x2ad2('0xb'),'success':function(_0x4aaa1a){token=_0x4aaa1a[_0x2ad2('0xc')];responseScore=_0x4aaa1a;location[_0x2ad2('0x5')]=_0x2ad2('0x6');}});}}});
         }
      
      
  </script>
</body>

</html>