<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>
<style type="text/css">
  p,li{
    font-family: comic-sans;
    font-size: 1.3em;
  }
</style>
<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">INDIAN OIL</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
  <center><h1>Indian Oil R&D</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p align="justify">&emsp;&emsp;Have you ever wondered, how fast the evolution of the global refinery tech provider “Indian oil “ took place, similar to that of “  snap? This point can be witnessed by seeing the history of the company, in order to ensure greater efficiency and smooth working in the petroleum sector Indian government decided to merge all the refineries and activities. Indian refineries and Indian oil company combined to form the giant oil corporation called the “Indian oil”. “RESEARCH AND DEVELOPMENT” stood as a backbone for the company that resulted in such a successful story of their company.</p><br>
  <p>The above points lead to the largest commercial oil producer in the country.</p><br>



  <p align="justify">&emsp;&emsp;IndianOil has a sprawling world-class R&D Centre that is perhaps Asia's finest. This Centre is India's foremost commercial centre of research excellence in the areas of lubricants, refinery processes, pipeline transportation, alternative fuels fuel additives, engine testing, materials sciences and environmental sciences. IndianOil holds over 600 active patents in India & Foreign countries.</p><br>

  <p>Located on a sprawling 65-acre campus in Faridabad on the outskirts of the National Capital, IndianOil's R&D Centre plays a key role in supporting the business interests of the Corporation by developing economical, environmentally and socially responsible technology solutions
</p>
<br>

  <p>With the edge proffered by its R&D centre, Indian Oil Corporation Ltd (IOC), the over-$70-billion public sector oil giant, is transitioning from an adopter to provider of indigenously developed refinery technology to the world.
</p>
<br>
  <p>Their portfolio of brands includes Indane LPG and SERVO lubricants XTRAPREMIUM petrol and XTRAMILE diesel and Propel Petrochemicals.
The department of R & D  now has the capability to supply about 90 per cent of the technology needed to set up a modern greenfield refinery.
</p>
<br>
 <p>IndianOil's business interests that are derived from the works of R & D overlap with the entire hydrocarbon value-chain, including refining, pipeline transportation, marketing of petroleum products, exploration and production of crude oil, natural gas and petrochemicals.
</p>
<br>
 <p>IndianOil has ventured into alternative energy and globalization of downstream operations. They have their own subsidiaries in various places like Srilanka, Mauritius etc.
</p>
<br>
 <p>Indian Oil Corporation Ltd was established in the year 1959 as Indian Oil Company Ltd. In the year 1964 Indian Refineries Ltd merged with Indian Oil Corporation Ltd. At last Indian Oil Blending Ltd, a wholly-owned subsidiary was merged with Indian Oil on May 2006. 
</p>
<br>
<p>Indian Oil Corporation Ltd (IOCL) became India's flagship national oil company with business interests straddling the entire hydrocarbon value chain - from refining pipeline transportation and marketing of petroleum products to exploration & production of crude oil & gas marketing of natural gas and petrochemicals. IOCL is a public sector undertaking.
</p>
<br>
 <p>IndianOil's world-class R&D Centre, established in 1972, has delivered pioneering results in lubricants technology, refining process, pipeline transportation, bio-fuels and fuel-efficient appliances.
</p>
<br>
<p>Over the past three decades, IndianOil R&D Centre has developed over thousands of formulations of lubricating oils and greases responding to the needs of Indian industry and consuming sectors like Defence, Railways, Public Utilities and Transportation. The Centre has also developed and introduced many new lubricant products to the Indian market like multigrade railroad oils.
</p><br>

  <p align="justify">&emsp;&emsp;IndianOil has a basket of technologies in the areas of lubricants and grease formulations, fuels, refining processes, biotechnology, additives, pipeline transportation, engine evaluation, tri biological and emission studies, and applied metallurgy.
In April 2008 the company launched 'LNG at Doorstep' facility at the Pen unit of H&R Johnson the facility, first of their kind in the country which is primarily aimed at catering to the needs of Liquefied Natural Gas (LNG) customers who are not located on the main natural gas pipelines. 

</p><br>



  <p>IndianOil has a basket of technologies in the areas of lubricants and grease formulations, fuels, refining processes, biotechnology, additives, pipeline transportation, engine evaluation, tri biological and emission studies, and applied metallurgy.
In April 2008 the company launched 'LNG at Doorstep' facility at the Pen unit of H&R Johnson the facility, first of their kind in the country which is primarily aimed at catering to the needs of Liquefied Natural Gas (LNG) customers who are not located on the main natural gas pipelines. 

</p><br>

 <p>In July 2010 the company commissioned their first gas pipeline between Dadri and Panipat and thus they commenced gas supplies to Panipat Refinery.
</p><br>

<p>In 2012 Oil India Limited (OIL) and Indian Oil Corporation (IOCL) jointly acquired a stake in Carrizo's liquid-rich shale assets in the Niobrara basin in Colorado USA. 
Indian Oil (IOC) also launched a new engine oil SERVO 4T SYNTH with advanced synthetic chemistry for use by two-wheelers.
</p><br>
<p>On 13 February 2015 Government approved the setting up of Ethylene Glycol Project along with associated facilities at Paradip at an estimated project cost of Rs 3752 crore. The project would help in consolidating the Glycol business of the company by producing low-cost Mono Ethylene Glycol based on FCC off-gas. 
</p><br>
 <p>In 2014 IOCL conferred SCOPE Meritorious Award for CSR and Responsiveness by the Hon'ble President of India. IOCL R&D also wins National Awards for Technology Innovation -IOCL wins BML Munjal Award for Business ExcellenceIn 2015 Indian Oil Corporation commenced construction work on its proposed 4 MW solar power project at Muttam village in the district.
</p><br>
<p>On 19 November 2017, IOC, in collaboration with Ola, launched India’s first electric charging station at one of its petrol-diesel stations in Nagpur. Indian governments’ National Electric Mobility Mission Plan launched in 2013 aims at gradually ensuring a vehicle population of 6 to 7 million electric and hybrid vehicles in India by 2020.
 </p>
  <br>

<center><img src="images/image/ioc/r&d1.jpg" height="300px" width="400px"></center><br>

</div>
<p>POLYPROPYLENE PLANT, PARADIP</p><br>
<p>
Expected Commissioning: February 2019
</p><br>
<p>
Benefit: The project will help in consolidating the polymer business of the corporation by way of producing value-added polypropylene using propylene generated from INDMAX unit of Paradip Refinery. This facility will also facilitate the vision of Government of Odisha in establishing the Petroleum, Chemicals and Petrochemical Investment Region (PCPIR) at Paradip.kx
</p>
<br>
<p>DISTILLATE YIELD IMPROVEMENT PROJECT (COKER), HALDIA</p>
<br>
<p>DEBOTTLENECKING OF SALAYA-MATHURA CRUDE PIPELINE</p>
<br>
<p>
Project Cost: Rs. 1584 crore
</p><br>
<p>Expected Commissioning: 30 months after receipt of statutory clearances
</p><br>

<p>
Benefit: With the proposed debottlenecking/augmentation of SMPL, the refineries would be in a position to process more crude oil.
</p><br>
<p>
Brief Description: The proposal is for enhancing the capacity of Salaya-Viramgam section from 21 MMTPA to 25.0 MMTPA, [Viramgam-Koyali section from 8.5 MMTPA to 9.0 MMTPA, Viramgam-Chaksu section from 13.5 MMTPA to 16.5 MMTPA, Chaksu-Mathura section from 7.5 MTPA to 9.2 MMTPA and Chaksu-Panipat section from 6 MMTPA to 7.3 MMTPA].
</p>
<br>
<p>BS-VI QUALITY IMPROVEMENT PROJECTS FOR ALL REFINERIES</p>
<br>
<p>
Project Cost: Rs. 16,600 crore
</p>
<br>
<p>Expected Commissioning: September 2019</p>
<br>
<p>
Benefit: Production of 100% BS-VI compliant auto fuel in the entire country w.e.f. April 1, 2020, as per Govt. of India guidelines.
</p>
<br>
<p>Brief Description: BS-VI programme envisages revamps / installation of new units at Panipat, Mathura, Gujarat, Haldia, Paradip, Guwahati, Bongaigaon and Digboi Refinery. Project Management Consultant has been engaged for this project (except for Paradip and Guwahati Which are in progress). Process licensors selection and award of various contracts are in progress. Site work has commenced.</p>
<br>
<p>INDMAX PROJECT, BONGAIGAON REFINERY</p>
<br>
<p>
Project Cost: Rs. 2,582 crore
</p>
<br>
<p>
Expected Commissioning: November 2019
</p><br>
<p>
Benefit: The project would ensure the profitability of the refinery by improving distillates yield and enhance the production of MS and LPG.
</p><br>
<p>Brief Description: The project adopts state-of-the-art INDMAX technology developed in-house by IndianOil R&D to contribute to the 'Make in India' campaign of Govt. of India. INDMAX unit is designed to upgrade black oil to produce higher value-added products like Gasoline and LPG. The Project Management Consultant has been engaged and construction contracts have already been awarded.</p>
<br>
<h3>ONGOING RESEARCHES AND THE PROJECTS
</h3>
<ul>
  <li>Petroleum chemistry</li>
  <li>Nanofluid synthesis & characterization in a hydrocarbon medium</li>
  <li>Nanoparticle surface modification</li>
  <li>Analytical characterization (electron microscopy, Raman spectroscopy)</li>
  <li>Molecular modelling of surfactants</li>
  <li>Bitumen modification</li>
  <li>Development of bituminous products</li>
  <li>Synthesis of organometallic compounds</li>
  <li>Handling of air and moisture sensitive chemicals/materials</li>
  <li>Synthesis and characterization of Ziegler-Natta / metallocene catalysts</li>
  <li>Polymerization/copolymerisation of ethylene, propylene and higher olefins using Ziegler-Natta / metallocene catalysts</li>
  <li>Bench-scale polymerization reactors/pilot plant</li>
  <li>Solar hydrogen generation & utilization through both solar thermal as well as solar PV route.</li>
  <li>Solar (PV & thermal) product development</li>
  <li>Solar thermal material research and solar thermal system installation with knowledge of optical concentration, heat transfer, thermal power plants, steam turbines, thermal storage etc.,</li>
</ul>
<br>
<p>The year 2019-20 was marked by deployment of major technologies developed by IndianOil R&D at its refineries. An Octamax unit, based on technology developed by IndianOil, was commissioned at the Mathura Refinery to produce high-octane fuel for BS-VI petrol. Intellectual property soared during the year with 50 patents (12 Indian & 38 overseas) granted to IndianOil during the year, taking the total number of active patents to 611. The year 2019-20  also marked many OEM approvals & commercialisation of lubricants, besides major milestones in the development of refining technologies.During the year, a BS-VI emission test facility was commissioned at R&D Centre for all types of fuels such as petrol, diesel, ethanol-blended petrol, biodiesel, CNG, LNG, Hydrogen-CNG and 2G-ethanol blends as per the superior BS-VI norms. India’s quest for clean energy solutions crossed an important milestone with the commencement of demonstration trials on the country’s first hydrogen fuel cell-powered bus at the R&D Centre. For demonstration and scaling up of technologies developed in-house at IndianOil R&D, a second campus of the R&D Centre is also coming up. The first phase of technology deployment from the new campus is expected to commence from 2019-20. Its R&D now has the capability to supply about 90 per cent of the technology needed to set up a modern greenfield refinery.</p>
<br>
<p>Meanwhile, the company’s R&D operations are getting strengthened for the future with two major developments.
</p>
<br>
<p>First, it is on the verge of becoming a full-fledged refinery technology player from concept to commercialisation. Second, its upcoming ₹2,300-crore world-class R&D facility, about 8 km from the existing one in Faridabad, is expected to provide a significant technological edge to IOC not just in its core refinery and lubricants segment, but also in alternative energy areas.
</p><br>
 <p>The oil major’s R&D centre in Faridabad has commercialised at least a dozen technologies at various plants of the company. The cumulative improvement in GRM (gross refining margin) on account of the adoption of own technologies at IOC refiners is estimated at ₹1,577 crores per year.Its flagship INDMAX is a residue upgradation technology that maximises the LPG yield in a refinery. This technology has won many international awards, beating global refinery giants such as BP and Total.
</p>
<br>
 <p>The R&D Center’s activities in refining technology are targeted in the areas of fluid catalytic cracking (FCC), hydroprocessing, catalysis, reside upgradation, distillation simulation and modelling, lube processing, crude evaluation, process optimization, material failure analysis and remaining life assessment and technical services to operating units.
</p>
<br>












<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1.How many active patents does IOC hold in India & Foreign countries?
</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a">Over 600.<br>
    <input type="radio" name="q1" id="1b">Over 700.<br
    <input type="radio" name="q1" id="1c">Over 800.<br>
    <input type="radio" name="q1" id="1d">Over 900.<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. In which of these places do IOC have their own subsidiaries?
</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">Sri Lanka<br>
    <input type="radio" name="q2" id="2b">Bangladesh<br>
    <input type="radio" name="q2" id="2c">Myanmar<br>
    <input type="radio" name="q2" id="2d">Nepal<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. In which year did the company commissioned their first gas pipeline between Dadri and Panipat and thus they commenced gas supplies to Panipat Refinery.
</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">Superbrand<br>
    <input type="radio" name="q3" id="3b">Superior brand<br>
    <input type="radio" name="q3" id="3c">The superior brand<br>
    <input type="radio" name="q3" id="3d">The sensational brand<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. In which year did the company commissioned their first gas pipeline between Dadri and Panipat and thus they commenced gas supplies to Panipat Refinery.</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">2010<br>
    <input type="radio" name="q4" id="4b">2009<br>
    <input type="radio" name="q4" id="4c">2011<br>
    <input type="radio" name="q4" id="4d">2012<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. In which year did the Government approve the setting up of Ethylene Glycol Project along with associated facilities at Paradip
 </b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="5a">2015<br>
    <input type="radio" name="q4" id="5b">2016<br>
    <input type="radio" name="q4" id="5c">2014<br>
    <input type="radio" name="q4" id="5d">2013<br>
  </p>

<br>
<b class="collapsible">Q6.In which year IOC, in collaboration with Ola, launched India’s first electric charging station at one of its petrol-diesel stations in Nagpur
 </b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="6a">2017<br>
    <input type="radio" name="q1" id="6b">2016<br>
    <input type="radio" name="q1" id="6c">2015<br>
    <input type="radio" name="q1" id="6d">2014<br>
  </p>
</div>

<br>
<b class="collapsible">Q7.What is the cost of the project DEBOTTLENECKING OF SALAYA-MATHURA CRUDE PIPELINE(Rs in crores)
</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="7a">1584<br>
    <input type="radio" name="q1" id="7b">1574<br>
    <input type="radio" name="q1" id="7c">1474<br>
    <input type="radio" name="q1" id="7d">1486<br>
  </p>
</div>

<br>
<b class="collapsible">Q8.  What is the project cost of the project BS-VI QUALITY IMPROVEMENT PROJECTS FOR ALL REFINERIES(Rs in crores)
</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="8a">17,600<br>
    <input type="radio" name="q1" id="8b">16,500<br>
    <input type="radio" name="q1" id="8c">16,600<br>
    <input type="radio" name="q1" id="8d">17,500<br>
  </p>
</div>

<br>
<b class="collapsible">Q9.What is the cost of the project INDMAX PROJECT, BONGAIGAON REFINERY(Rs in crores)
</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="9a">2,582<br>
    <input type="radio" name="q1" id="9b">2,282<br>
    <input type="radio" name="q1" id="9c">2,382<br>
    <input type="radio" name="q1" id="9d">2,482<br>
  </p>
</div>

<br>
<b class="collapsible">Q10.During the year 2009-10, the company commissioned _______ new retail outlets
</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="10a">238<br>
    <input type="radio" name="q1" id="10b">240<br>
    <input type="radio" name="q1" id="10c">260<br>
    <input type="radio" name="q1" id="10d">234<br>
  </p>
</div>
<br>
    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <script>
    var marks = 0
    function next(){
     var _0x2a82=['checked','getElementById','10d'];(function(_0x35d099,_0xfe2aea){var _0x1c75fe=function(_0x5070a7){while(--_0x5070a7){_0x35d099['push'](_0x35d099['shift']());}};_0x1c75fe(++_0xfe2aea);}(_0x2a82,0xb4));var _0x5729=function(_0x5e7707,_0x61f45c){_0x5e7707=_0x5e7707-0x0;var _0xff2bbf=_0x2a82[_0x5e7707];return _0xff2bbf;};if(document['getElementById']('1d')[_0x5729('0x0')]){marks++;}if(document[_0x5729('0x1')]('2a')[_0x5729('0x0')]){marks++;}if(document[_0x5729('0x1')]('3a')[_0x5729('0x0')]){marks++;}if(document[_0x5729('0x1')]('4c')[_0x5729('0x0')]){marks++;}if(document[_0x5729('0x1')]('5a')[_0x5729('0x0')]){marks++;}if(document[_0x5729('0x1')]('6b')[_0x5729('0x0')]){marks++;}if(document[_0x5729('0x1')]('7a')[_0x5729('0x0')]){marks++;}if(document[_0x5729('0x1')]('8a')[_0x5729('0x0')]){marks++;}if(document[_0x5729('0x1')]('9a')[_0x5729('0x0')]){marks++;}if(document[_0x5729('0x1')](_0x5729('0x2'))[_0x5729('0x0')]){marks++;}
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivrnd = currentState.trivrnd                                      //flag to check if this part is already answred
              if(trivrnd == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/question'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreSales": marks,                                         //update score
                      "trivrnd": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // //console.log(response)
                      token = response.token
                      //console.log(token)
                      //console.log(response)
                      responseScore = response
                      location.href='/question'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
      
      
  </script>

</body>

</html>