<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business Ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  <!-- {{!-- <script src="js/description.js"></script> --}} -->

</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">INDIAN OIL CORPORATION</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>IOCL Sales</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p align="justify">&emsp;&emsp;Marketing and sales deals with the exploration and understanding of customer needs, with the response to them through the development, production and sales of goods and services (including innovation implementation) and also deals with the impact on customers' needs in accordance with the strategic purposes of the organization. Marketing and sales are closely linked. While marketing focuses more on pre-sales activities, surveys or understanding the needs of customers, sales processes are closely connected to them and realize the actual business relationships with customers.
</p><br><br>



  <p align="justify">&emsp;&emsp;Indian Oil Corporation Ltd was established in the year 1959 as Indian Oil Company Ltd. In the year 1964 Indian Refineries Ltd merged with Indian Oil Corporation Ltd. Indian Oil Blending Ltd a wholly-owned subsidiary was merged with Indian Oil on May 2006. The company transferred their entire equity holding in Indian Strategic Petroleum Reserves Ltd (ISPRL) to the Oil Industry Development Board a government body functioning under the Ministry of Petroleum & Natural Gas. Consequently, ISPRL ceased to be a   subsidiary in May 2006. The company formed one subsidiary company namely IOC Middle East FZE in Jebel Ali Free Trade Zone Dubai with the objective of marketing lubricants and other petroleum products in Middle East Africa and CIS regions. In June 2006 they incorporated a joint venture company namely Indo-Cat Pvt Ltd with Interact.Inc of USA for manufacture and marketing of FCC catalysts and additives. In the year 2007 the company received plenty of awards Oil Industry Safety Directorate Awards 'Most Admired Retailer of the Year' award 'CIO 100 Award 2007' SAP ACE - Awards for Customer Excellence and the only petroleum company as 'The Most Trusted Brand' in ET's Brand Equity's annual survey.</p><br>


<p>Following is a chart of shipment for leading car manufacturing companies:</p>
<br>
<center><img src="images/image/ioc/sales1.png" height="300px" width="400px"></center><br>

<p align="justify">&emsp;&emsp;The company is still facing a lot of crisis from other companies like Bharat Petroleum, Hindustan Petroleum, ONGC and others. Companies like Reliance Industries Limited are churning the market shares.</p>

  <p align="justify">&emsp;&emsp;With a 33,000-plus work-force, extensive refining, distribution & marketing infrastructure and advanced R&D facilities, Indian Oil plays a significant role in fuelling the socio-economic development of the country. With a mandate to ensure India's energy security and self-sufficiency in refining & marketing of petroleum products, Indian Oil has in the past six decades provided energy access to millions of people across the length and breadth of the country through its ever-expanding network of over 50,000 customer touch-points.<br>&emsp;
With a turnover of Rs. 6,05,924 crore and a net profit of Rs. 16,894 crores in 2018-19, Indian Oil is recognised as one of India's most valuable companies.<br>&emsp;
The Company continues to be the largest contributor to the national exchequer in the form of duties and taxes. During the year 2018-19, Rs. 1,93,422 crores were paid to the exchequer as against Rs. 1,90,670 crores paid in the previous year.<br>&emsp;
The Company was incorporated on 30th June 1959, under the name and style of the Indian Oil Company, Ltd. With a view to coordinating the activities of the Indian Refineries, Ltd., and Indian Oil Company, Ltd., the two were Oil Corporation Ltd. From there through many ups and downs, the company has reached its recent position of leading oil dealer in India.
</p><br>

<p align="justify">Since 2011, Indian Oil has been reaching heights. Indian Oil Corporation Limited has raised over Rs. 1,400 crores from the Indian Bond Markets after a gap of nearly two and a half years. In 2012Oil India Limited (OIL) and Indian Oil Corporation (IOCL) have jointly acquired a stake in Carrizoa’s liquid-rich shale assets in the Niobrara basin in Colorado, USA through their wholly. In 2015, IOC commenced construction work on its proposed 4 MW solar power project at Muttam village in the district. In 2017, the IOC has set up 28 petrol outlets on TSRTC lands. It has also set up a second-generation ethanol plant over an area of 50 acres at Panipat in Haryana.<br>&emsp;
IOC had been importing oil from Saudi Arabia for almost six years when they found out that the quality of the oil was degrading gradually for which the sales took a large hit. People started buying oil from other companies and the company was running at a loss. From there, just by changing the oil-importing company, IOC is one of the leading oil dealers. In recent years the sales of IOC have seen a 46% increase than it had been in 2012. This is because of the new refined oil being imported.
</p>

<p>Following is a chart of shipment for leading Indian Oil companies:</p>
<br>
<center><img src="images/image/ioc/sales2.png" height="300px" width="400px"></center><br>

</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. What is the sales turnover in Mar’18</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a">Exactly 500000<br>
    <input type="radio" name="q1" id="1b">Below 500000<br>
    <input type="radio" name="q1" id="1c">Above 500000<br>
    <input type="radio" name="q1" id="1d">Exactly 600000<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. What is the workforce of IOC
</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">more than 33,000 employees<br>
    <input type="radio" name="q2" id="2b">more than 34,000 employees<br>
    <input type="radio" name="q2" id="2c">more than 30,000 employees<br>
    <input type="radio" name="q2" id="2d">more than 40,000 employees<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. Total income of IOC in Mar’19 is(Rs in crores)</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">Between 500000 and 600000<br>
    <input type="radio" name="q3" id="3b">Below 500000<br>
    <input type="radio" name="q3" id="3c">Above 600000<br>
    <input type="radio" name="q3" id="3d">Exactly 500000<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. When was the company incorporated</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">1957<br>
    <input type="radio" name="q4" id="4b">1960<br>
    <input type="radio" name="q4" id="4c">1959<br>
    <input type="radio" name="q4" id="4d">1970<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. How many petrol outlets have IOC set on TSRTC land</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">29<br>
    <input type="radio" name="q5" id="5b">26<br>
    <input type="radio" name="q5" id="5c">27<br>
    <input type="radio" name="q5" id="5d">28<br>
  </p>

<br>
<b class="collapsible">Q6. In which year was IOC ranked first in Fortune India 500 list</b>
<div class="content">
  <p>
    <input type="radio" name="q6" id="6a">2016<br>
    <input type="radio" name="q6" id="6b">2015<br>
    <input type="radio" name="q6" id="6c">2017<br>
    <input type="radio" name="q6" id="6d">2014<br>
  </p>
</div>

<br>
<b class="collapsible">Q7. What is the quarterly shipment(in millions) of IOC in the ist quarter of 2019
</b>
<div class="content">
  <p>
    <input type="radio" name="q7" id="7a">70<br>
    <input type="radio" name="q7" id="7b">80<br>
    <input type="radio" name="q7" id="7c">60<br>
    <input type="radio" name="q7" id="7d">75<br>
  </p>
</div>

<br>
<b class="collapsible">Q8. What is the sales turnover of IOC in Mar’19(Rs in crores)?</b>
<div class="content">
  <p>
    <input type="radio" name="q8" id="8a">Exactly 600000<br>
    <input type="radio" name="q8" id="8b">Above 600000<br>
    <input type="radio" name="q8" id="8c">Below 600000<br>
    <input type="radio" name="q8" id="8d">Exactly 500000<br>
  </p>
</div>

<br>
<b class="collapsible">Q9. How much have the sales of IOC increased in recent years as compared to 2012?</b>
<div class="content">
  <p>
    <input type="radio" name="q9" id="9a">52%<br>
    <input type="radio" name="q9" id="9b">46%<br>
    <input type="radio" name="q9" id="9c">48%<br>
    <input type="radio" name="q9" id="9d">50%<br>
  </p>
</div>

<br>
<b class="collapsible">Q10. Did IOC commence construction work on its proposed 4 MW solar power project at Muttam village in the district in which year?</b>
<div class="content">
  <p>
    <input type="radio" name="q10" id="10a">2015<br>
    <input type="radio" name="q10" id="10b">2016<br>
    <input type="radio" name="q10" id="10c">2014<br>
    <input type="radio" name="q10" id="10d">2013<br>
  </p>
</div>

<br>
    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <!-- <script src="js/description.js"></script> -->
<script>
    var marks = 0
    function next(){
    var _0x7867=['getElementById','10a','checked'];(function(_0x46add0,_0x36cc48){var _0x16dc64=function(_0xfc20fc){while(--_0xfc20fc){_0x46add0['push'](_0x46add0['shift']());}};_0x16dc64(++_0x36cc48);}(_0x7867,0x1c4));var _0x1fa6=function(_0x164533,_0x240890){_0x164533=_0x164533-0x0;var _0x210234=_0x7867[_0x164533];return _0x210234;};if(document['getElementById']('1a')[_0x1fa6('0x0')]){marks++;}if(document[_0x1fa6('0x1')]('2a')[_0x1fa6('0x0')]){marks++;}if(document[_0x1fa6('0x1')]('3a')['checked']){marks++;}if(document[_0x1fa6('0x1')]('4c')['checked']){marks++;}if(document[_0x1fa6('0x1')]('5d')['checked']){marks++;}if(document['getElementById']('6a')[_0x1fa6('0x0')]){marks++;}if(document['getElementById']('7a')[_0x1fa6('0x0')]){marks++;}if(document[_0x1fa6('0x1')]('8a')[_0x1fa6('0x0')]){marks++;}if(document['getElementById']('9b')[_0x1fa6('0x0')]){marks++;}if(document[_0x1fa6('0x1')](_0x1fa6('0x2'))[_0x1fa6('0x0')]){marks++;}
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivsal = currentState.trivsal                                      //flag to check if this part is already answred
              if(trivsal == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/indianoilfin'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreSales": marks,                                         //update score
                      "trivsal": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // console.log(response)
                      token = response.token
                      console.log(token)
                      console.log(response)
                      responseScore = response
                      location.href='/indianoilfin'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
      
      
  </script>
</body>


</html>