<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/question.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link rel="shortcut icon" href="images/business.png" type="image/x-icon"/>
    <title>Business Ideas</title>
    <!-- JavaScript -->


<!-- CSS -->

<!-- Default theme -->

 
        <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-firestore.js"></script>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">



<style type="text/css">
    .loader{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
</style>
</head>
<body >
 <!-- <img class="loader" src="images/805.gif" width="20px" height="20px"> -->
 <div class="preloader-wrapper big active loader">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

    <script>
       var _0x550c=['AIzaSyA7CVZe8_ga4PuOAtrrnheh9J43uDNkyD8','business-ideas-134d4.firebaseapp.com','business-ideas-134d4.appspot.com','1:504116260995:web:8305df7ccbf0b52f','initializeApp','querySelector','.collapsible.expandable','Collapsible','init','addEventListener','querySelectorAll','.sidenav','AutoInit'];(function(_0x24a786,_0x24d1c4){var _0x54072e=function(_0x2eb84e){while(--_0x2eb84e){_0x24a786['push'](_0x24a786['shift']());}};_0x54072e(++_0x24d1c4);}(_0x550c,0x1e6));var _0x56ae=function(_0x4f31a2,_0x1e7182){_0x4f31a2=_0x4f31a2-0x0;var _0x1ecdd4=_0x550c[_0x4f31a2];return _0x1ecdd4;};var elem=document[_0x56ae('0x0')](_0x56ae('0x1'));var instance=M[_0x56ae('0x2')][_0x56ae('0x3')](elem,{'accordion':!![]});document[_0x56ae('0x4')]('DOMContentLoaded',function(){var _0x3e3156=document[_0x56ae('0x5')](_0x56ae('0x6'));var _0x151bd2=M['Sidenav'][_0x56ae('0x3')](_0x3e3156,options);M[_0x56ae('0x7')]();});var firebaseConfig={'apiKey':_0x56ae('0x8'),'authDomain':_0x56ae('0x9'),'databaseURL':'https://business-ideas-134d4.firebaseio.com','projectId':'business-ideas-134d4','storageBucket':_0x56ae('0xa'),'messagingSenderId':'504116260995','appId':_0x56ae('0xb')};firebase[_0x56ae('0xc')](firebaseConfig);
    </script>
    <script src="js/loader.js"></script>
</body>

</html>