<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business Ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}} 

</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">OLA</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>Ola finance</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p>Ola is owned by ANI technologies Pvt. Ltd. Formerly known as OlaCabs, Ola was started in Dec 2010 by 2 IIT [Bombay]graduates. Ola serves as an efficient taxi aggregator (now they have got in to bike and cycles too) and bridge the gap between cab owners and commuters. Instead of buying and renting out their own cars, Ola partners with a number of taxi drivers and owners, add a touch of modern technology to the whole set up, where people could book cars at short notice through their app. Ola is India’s homegrown ride-hailing app with about 60% market share in India with users across over 110 cities of India and 10 lakh driver-partners. Driven by a hyperlocal approach, Ola is committed to its mission of building mobility for a billion people.

 </p><br>






<p>In a move to expand beyond cab aggregation, Ola acquired struggling food tech company Foodpanda with an eye on leveraging the growing food delivery segment business in December 2017. In April 2018, Ola made its second acquisition with Ridlr (formerly Traffline), a public transport ticketing app. Later in August 2018, Ola financed Series A funding of the scooter rent startup Vogo, and again in December, invested another $100 million.
</p>
<br>




  <p>The Karnataka state transport department suspended Ola's operating license for six months for violation of licence conditions and violation of Karnataka On-Demand Transportation Technology Aggregator Rules, 2016. This was on account of Ola running bike taxi services though it only had license for four wheeler taxi operations. The company termed the order unfortunate and was looking at working with driving partners to continue functioning. They also claimed to be in touch with authorities to sort things out.

</p><br>
<center><img src="images/image/ola/fin1.jpg" height="300px" width="400px"></center><br>
 


  <p> </p><br>
  <p>The taxi market scenario in India is highly fragmented. The taxi market in India is divided into two major segments which are organized and unorganized markets. The unorganized market has a market value of $8.5 billion and the organized market holds a market value of almost $500 million
</p><br>


<p>taxi business in the nation is developing at 20 to 25 for each penny a year. The sorted out taxi area represents only four to five for every penny of the business and sums $800 million. It is relied upon to develop to $7 billion by 2020.The central government, vide its budget 2015-16 has now clearly defined the term aggregator:
</p><br>
<p>Indian taxi market is assessed to be around $8 billion (Rs 48,000 crore) at this moment, out of which just 5% is being overseen under sorted out area; which implies that the market is completely open right at this point. It is being anticipated that in the following 5 years, sorted out players, for example, Uber, Meru and Ola will catch 15% of this market, which is developing at an astonishing rate of 45% every year. The Indian cab market has seen a lot of traction, with over INR 600 crores being raised by the leading players in the sector. While this has been a very competitive market, the organized sector forms a small percentage of the overall market. It is estimated that the radio taxi market in India is $6-9 billion dollars growing at 17-20%. It is also estimated that the number of taxis in the organized sector will reach 30,000 by 2017.
</p><br>
<center><img src="images/image/ola/fin2.jpg" height="300px" width="400px"></center><br>
<p>As previously mentioned Ola has a market share potential of 60% in India. The other contenders in the market which fall under the organized segment include Taxiforsure(14%), meru cabs(16%), uber(5%) and others(5%). Taxiforsure was acquired by Ola which further increases its market share to about 74%. Being a part of the organized taxi market in the country which has the maximum potential for growth in the near future, it then becomes a fact that Ola is indeed faced by many competitions in this sector. The major competitor of Ola is Uber. Meru and other are not well designated competitors as the price criteria offered by Ola and the range of cars available for rent is far better and well accepted by the customer. Uber being at a position of 5% market share holds tough competition for Ola as the future prospects of Uber are to penetrate deep into the Indian market with an investment of over $400 million to take on Ola.
</p><br>
<center><img src="images/image/ola/fin3.jpg" height="300px" width="400px"></center><br>


</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. When was the company founded?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a"> 2008<br>
    <input type="radio" name="q1" id="1b"> 2007<br>
    <input type="radio" name="q1" id="1c"> 2011<br>
    <input type="radio" name="q1" id="1d"> 2010<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. Which technological  company owns OLA?</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">General Electric<br>
    <input type="radio" name="q2" id="2b">Compass Group<br>
    <input type="radio" name="q2" id="2c">ANI technologies<br>
    <input type="radio" name="q2" id="2d">Tech Data<br>
  </p>
</div>

<br>
<b class="collapsible">Q3.  In March 2015, Ola Cabs acquired which bengaluru based taxi service?</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a"> TaxiForSure<br>
    <input type="radio" name="q3" id="3b">Meru Cabs<br>
    <input type="radio" name="q3" id="3c">Fasttrack Taxi<br>
    <input type="radio" name="q3" id="3d">Mega Cabs<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. When did Ola acquired Foodpanda?</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">April 2018
                   
                    
<br>
    <input type="radio" name="q4" id="4b"> December 2017<br>
    <input type="radio" name="q4" id="4c">March 2015<br>
    <input type="radio" name="q4" id="4d"> June 2015<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. Radio taxi market in India is growing at a rate of?</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">17-20%
                    
<br>
    <input type="radio" name="q5" id="5b">16-20%<br>
    <input type="radio" name="q5" id="5c">15-20%<br>
    <input type="radio" name="q5" id="5d"> 18-20%<br>
  </p>
  <br>
<b class="collapsible">Q6.  Ola has a market share of _______ in India.</b>
<div class="content">
    <p>
    <input type="radio" name="q6" id="6a">40<br>
    <input type="radio" name="q6" id="6b">50<br>
    <input type="radio" name="q6" id="6c">60<br>
    <input type="radio" name="q6" id="6d">74<br>
  </p>
  <br>
<b class="collapsible">Q7. Who is the major contender of Ola in India?</b>
<div class="content">
    <p>
    <input type="radio" name="q7" id="7a">  Uber<br>
    <input type="radio" name="q7" id="7b">Meru Cabs<br>
    <input type="radio" name="q7" id="7c">TaxiForSure<br>
    <input type="radio" name="q7" id="7d">FastTrack Taxi<br>
  </p>
  <br>
<b class="collapsible">Q8. Cab Market is developing at an astonishing rate of?
</b>
<div class="content">
    <p>
    <input type="radio" name="q8" id="8a">35%<br>
    <input type="radio" name="q8" id="8b">40%<br>
    <input type="radio" name="q8" id="8c">45%<br>
    <input type="radio" name="q8" id="8d">50%<br>
  </p>
  <br>
<b class="collapsible">Q9. The unorganized market has a market value of _____ million and the organized market holds a market value of almost ______ million.?</b>
<div class="content">
    <p>
    <input type="radio" name="q9" id="9a">8.5 and 500<br>
    <input type="radio" name="q9" id="9b">8500 and 500<br>
    <input type="radio" name="q9" id="9c">850 and 500<br>
    <input type="radio" name="q9" id="9d"> 8.5 and 0.5<br>
  </p>
  <br>
<b class="collapsible">Q10.  In August 2018, Ola financed Series A funding of the scooter rent startup named?</b>
<div class="content">
    <p>
    <input type="radio" name="q10" id="10a">Ridlr<br>
    <input type="radio" name="q10" id="10b">Vogo<br>
    <input type="radio" name="q10" id="10c">Geotagg<br>
    <input type="radio" name="q10" id="10d">Taxiforsure<br>
  </p>

    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> -->
  <script>
    var marks = 0
    function next(){
     var _0x1c7c=['getElementById','checked'];(function(_0x3a07e4,_0x5831be){var _0x1d8ec7=function(_0x447d5c){while(--_0x447d5c){_0x3a07e4['push'](_0x3a07e4['shift']());}};_0x1d8ec7(++_0x5831be);}(_0x1c7c,0x152));var _0x4030=function(_0x28718e,_0x2d9b54){_0x28718e=_0x28718e-0x0;var _0x5bebaa=_0x1c7c[_0x28718e];return _0x5bebaa;};if(document[_0x4030('0x0')]('1d')[_0x4030('0x1')]){marks++;}if(document[_0x4030('0x0')]('2c')[_0x4030('0x1')]){marks++;}if(document[_0x4030('0x0')]('3a')[_0x4030('0x1')]){marks++;}if(document[_0x4030('0x0')]('4b')[_0x4030('0x1')]){marks++;}if(document[_0x4030('0x0')]('5a')['checked']){marks++;}if(document[_0x4030('0x0')]('6d')[_0x4030('0x1')]){marks++;}if(document[_0x4030('0x0')]('7a')[_0x4030('0x1')]){marks++;}if(document[_0x4030('0x0')]('8c')[_0x4030('0x1')]){marks++;}if(document['getElementById']('9b')[_0x4030('0x1')]){marks++;}if(document[_0x4030('0x0')]('10b')[_0x4030('0x1')]){marks++;}
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivfin = currentState.trivfin                                      //flag to check if this part is already answred
              if(trivfin == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/olafin'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreFinance": marks,                                         //update score
                      "trivfin": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // //console.log(response)
                      token = response.token
                      //console.log(token)
                      //console.log(response)
                      responseScore = response
                      location.href='/olapro'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
      
      
  </script>
  
  <br>
  <br>
  <br>
</body>

</html>