<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
 

</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">Samsung</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>OlaProduction</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p>Ola is owned by ANI technologies Pvt. Ltd. Formerly known as OlaCabs, Ola was started in Dec 2010 by 2 IIT Bombay graduates. Ola serves as an efficient taxi aggregator (now they have got in to bike and cycles too) and bridge the gap between cab owners and commuters. Instead of buying and renting out their own cars, Ola partners with a number of taxi drivers and owners, add a touch of modern technology to the whole set up, where people could book cars at short notice through their app. Ola is India’s homegrown ride-hailing app with about 60% market share in India with users across over 110 cities of India and 10 lakh driver-partners. Driven by a hyperlocal approach, Ola is committed to its mission of building mobility for a billion people.
Over the last one year, Ola has been expanding its range of services —offering a range of ride options from budget to luxury, subscription deals, and more recently in-cab entertainment — to outmatch Uber on strategies beyond pricing. The company also offers a service called Ola Corporate for the companies. With Ola Corporate, people can track the travel expenses of their employees while also ensuring their safety.
Ola also launched Ola Money,a mobile wallet, which makes it convenient for riders to pay for the rides.
 </p><br>



  

<p>Born in Ludhiana, Bhavish was just like every other success-driven and successful entrepreneur. While trying to keep his holiday and tour planning business afloat, Bhavish had to travel from Bangalore to bandipur, for which he rented out a car, which ended in a very bad experience. The driver stopped the car in the middle of the journey and demanded a renegotiation of what Bhavish was paying. After being refused, he proceeded to abandon him enroute his destination. This is when he realized how his plight was probably similar to a lot of customers across the country who were looking for a quality cab services.
For the first time, he saw the amount of potential that an extraordinary cab booking service could have, and hence, he changed his business from his earlier start-up to the one we today know as – OlaCabs.
</p>
<br>


  <p>This was in December 2010, he was joined by his co-founder Ankit Bhati in his start-up journey. His parents didn’t agree with his idea in the beginning of course, like all Indian Parents won’t. They were thoroughly displeased with his decision to become a ‘travel agent’. But nevertheless, their support increased as they got their first round of angel investment (from Snapdeal founder Kunal Bahl, Rehan yar Khan and Anupam Mittal).
</p><br>

  


  <p>Bhavish believed that anyone can have a good business idea but to function it successfully one must have a scalable model upon which the business runs. According to him, the best or one of the best & safest models one can or should adopt is running a business with owning “zero” inventory.
After the idea, the design and vision were done by Usha Loutongbam, product manager and Bhavish himself. As for the developers who converted these ideas into reality: The first version for Android was built by Ajinkya Potdar and for iOS by Khushal Bokadey. Both of them joined the company for two months of internship and did an excellent job rolling out the release in real quick time. After that the iOS app was taken over by Atul Manwar and android by Ankit Kumar and backend APIs by Neeti Birla. The main focus of the new releases is to make the app feature rich while constantly improving the user experience and yet not losing the essence of one touch cab booking.
 
 </p><br>

<p> Ola's business model works on a simple concept. OLA acts as a facilitator in providing cab-booking services. Customers can book their cabs through the app. OLA does not own any of the cabs. Only those drivers with valid permits duly authorized and verified by transport authorities can sign up with OLA and they could be either self-employed or work for an operator who owns multiple cars. Just like how we use the OLA App, the drivers get access to a driver's mobile app on their Smartphone once they register with OLA. This is done only after a thorough check of authenticity and conducting due diligence of commercial papers and personal papers of driver and operator. The drivers have the flexibility to decide their own time to login to OLA Application and accept requests for rides from customers. They may choose to remain logged out of the system as per their convenience. Ola takes a commission of an average 15% on all the booking done through the app.
</p> <br>

<p>Ola has also got in to 3 international markets namely Australia, [United Kingdom](https://startuptalky.com/ola-united-kingdom-uk/) and New Zealand. In Australia, it has set-up operations in seven cities. It claims to have registered 40,000 drivers on its app in Australia. In India, Ola operates across over 100 cities.
Ola has raised a total of $3 billion. This also includes Debt financing and secondary market. Ola's current valuation is more than $6 billion.Considering that the 8 years old startup, Ola is valued at $6 billion makes it the third highest valued consumer internet company in India. The lure of this home-grown cab aggregator has proved irresistible to investors.
</p> <br>

<p> As per data till October 8 2018, Ola's major shareholders include SoftBank Group (26.1%), Tiger Global (15.94 %), Tencent (10.39 %), Matrix Partners (8.57 %), and DST Global (6.72%).Ola directly competes with Uber, world’s most well-financed startup having raised more than $15 billion in equity and debt on a recent valuation of $62 billion. Other players in India include MeruCabs Company Pvt. Ltd. which owns meru cabs, Carzonrent (India) Pvt. Ltd which owns carzonrent and Zoomcar India Private Ltd which owns zoomcar. In bike taxi, Rapido is slowly capturing Ola's market share.
</p> <br>
<p> March 2019, Regional Transport Department of Bengaluru has suspended Ola's Licence and banned it from business in the city for the next 6 months. Ola's operations are banned for running their bike taxis without permission of the state. Update: After a week of getting banned by the Government, Ola is now allowed to do business in Bangalore City. The ban was lifted on on 31st March after the company paid INR 15 Lakh as the penalty.Flipkart Co-Founder Sachin Bansal Invested 650 crores ($92 M).
This investment is part of Ola’s Series J funding round and is in Bansal’s personal capacity as an investor. This is likely to be one of the biggest bets of Bansal, who has invested in a dozen other Indian companies so far.
 
</p> <br>

<p>Fair trade regulator, Competition Commission of India has approved additional acquisition of 6.72% stake which is being made through Lazarus Holdings, incorporated in Singapore. It is a special purpose vehicle which will be used as an investment holding company. Merger and acquisitions beyond a certain threshold require the approval of the CCI.
 </p>
 <br>
<p> Ola plans to launch in 50 cities with prime focus on high-end European and Gulf markets. Soon it plans to launch in Netherlands. Its capital, Amsterdam, is a central location for catering to the markets in Central, Northern and Eastern Europe and even North Africa. Apart from Uber, Ola will compete with Taxify which is Europe's leading ride-sharing platform and has transport operations across 25 countries.
</p> <br>
<img src="table1.png" align="center">

</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. With ______, people can track the travel expenses of their employees.</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a"> Ola Money
<br>
    <input type="radio" name="q1" id="1b"> Ola Corporate <br>
    <input type="radio" name="q1" id="1c"> Ola Travel assistant<br>
    <input type="radio" name="q1" id="1d"> Ola Businesses
<br>
  </p>
</div>

<br>
<b class="collapsible">Q2.Does Ola also buy and rent out their own cars?
</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">Yes<br>
    <input type="radio" name="q2" id="2b">No<br>
    
  </p>
</div>

<br>
<b class="collapsible">Q3.Who was responsible for the design and vision of Ola Cabs?

 </b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">Ajinkya Potdar<br>
    <input type="radio" name="q3" id="3b">Atul Manwar<br>
    <input type="radio" name="q3" id="3c">Usha Loutongbam
<br>
    <input type="radio" name="q3" id="3d">Neeti Birla<br>
  </p>
</div>

<br>
<b class="collapsible">Q4.Ola takes a commission of an average______ on all the booking done through the app.</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">20%<br>
    <input type="radio" name="q4" id="4b">18%<br>
    <input type="radio" name="q4" id="4c">15%<br>
    <input type="radio" name="q4" id="4d">10%<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. Ola has how many international markets?
 </b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">2<br>
    <input type="radio" name="q5" id="5b">3<br>
    <input type="radio" name="q5" id="5c">4<br>
    <input type="radio" name="q5" id="5d">5<br>
  </p>

<br>
<b class="collapsible">Q6. Ola's current valuation is more than $______ millions?

 </b>
<div class="content">
    <p>
    <input type="radio" name="q6" id="6a">6<br>
    <input type="radio" name="q6" id="6b">2<br>
    <input type="radio" name="q6" id="6c">200<br>
    <input type="radio" name="q6" id="6d">6000<br>
  </p>

<br>
<b class="collapsible">Q7. Which  Regional Transport Department has suspended Ola's Licence and banned it from business.

 </b>
<div class="content">
    <p>
    <input type="radio" name="q7" id="7a"> Bengaluru
<br>
    <input type="radio" name="q7" id="7b">Chennai<br>
    <input type="radio" name="q7" id="7c">Delhi<br>
    <input type="radio" name="q7" id="7d">Mumbai<br>
  </p>

  <br>
<b class="collapsible">Q8. Who among the following were/was the first investors in OLA?
 
 </b>
<div class="content">
    <p>
    <input type="radio" name="q8" id="8a">  Kunal Bahl

<br>
    <input type="radio" name="q8" id="8b">Rehan yar Khan
<br>
    <input type="radio" name="q8" id="8c"> Both (a) and (b)
<br>
    <input type="radio" name="q8" id="8d">None of the above.
<br>
  </p>
<br>
<b class="collapsible">Q9. Who is the largest stakeholder in OLA? 


 </b>
<div class="content">
    <p>
    <input type="radio" name="q9" id="9a">SoftBank Group<br>
    <input type="radio" name="q9" id="9b">Tencent<br>
    <input type="radio" name="q9" id="9c">Tiger Global<br>
    <input type="radio" name="q9" id="9d">Matrix Partners<br>
  </p>
</div>
  
  <b class="collapsible">Q10. How much money did flipkart co-founder invested on OLA?
</b>
<div class="content">
  <p>
    <input type="radio" name="q10" id="10a"> 450 crores

<br>
    <input type="radio" name="q10" id="10b"> 350 crores
 <br>
    <input type="radio" name="q10" id="10c"> 550 crores
<br>
    <input type="radio" name="q10" id="10d"> 650 crores

<br>
  </p>
</div>

<br>

    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <script>
    var marks = 0
    function next(){
     var _0x1c50=['10d','getElementById','checked'];(function(_0x28e534,_0x10d39c){var _0x3d7a7f=function(_0x4f4a73){while(--_0x4f4a73){_0x28e534['push'](_0x28e534['shift']());}};_0x3d7a7f(++_0x10d39c);}(_0x1c50,0xe5));var _0xbf7d=function(_0x1bc9f6,_0x1dbe2d){_0x1bc9f6=_0x1bc9f6-0x0;var _0x2fcc98=_0x1c50[_0x1bc9f6];return _0x2fcc98;};if(document[_0xbf7d('0x0')]('1b')['checked']){marks++;}if(document[_0xbf7d('0x0')]('2b')[_0xbf7d('0x1')]){marks++;}if(document[_0xbf7d('0x0')]('3c')[_0xbf7d('0x1')]){marks++;}if(document['getElementById']('4c')[_0xbf7d('0x1')]){marks++;}if(document[_0xbf7d('0x0')]('5b')['checked']){marks++;}if(document[_0xbf7d('0x0')]('6d')[_0xbf7d('0x1')]){marks++;}if(document[_0xbf7d('0x0')]('7a')['checked']){marks++;}if(document['getElementById']('8c')[_0xbf7d('0x1')]){marks++;}if(document[_0xbf7d('0x0')]('9a')[_0xbf7d('0x1')]){marks++;}if(document['getElementById'](_0xbf7d('0x2'))[_0xbf7d('0x1')]){marks++;}
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivpro = currentState.trivpro                                      //flag to check if this part is already answred
              if(trivpro == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/olarnd'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreProduction": marks,                                         //update score
                      "trivpro": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // //console.log(response)
                      token = response.token
                      //console.log(token)
                      //console.log(response)
                      responseScore = response
                      location.href='/olarnd'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
      
      
  </script>
  
</body>

</html>