<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  
</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">Ola</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>OlaR&D</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p>Ola  is one of the largest mobile platform that provide mobility solutions by connecting customers to drivers and a wide range of vehicles across bikes, auto-rickshaws, metered taxis, and cabs, enabling convenience and transparency for hundreds of millions of consumers and over 1.5 million driver-partners. Statistics shows that startups have an extremely high mortality rate, often due to a lack of strategic planning, wrong marketing investments or inefficient resource allocation but ola stood up as an exception and dashed all the private taxi services. 


 </p><br>



  

<p>Ola initially started off as Olatrip.com a small website venture that offered weekend trip packages. It was started as a startup business by two IIT Mumbai graduates Bhavish Aggarwal and Ankit Bhati with a mission to build mobility for a billion people.


</p>
<br>


  <p>The idea behind Ola came to Bhavish Aggarwal after he found himself stranded in the middle of the road on his way to Bandipur from Bangalore. Bhavish’s cab driver stopped the car in the middle of the journey and demanded a renegotiation of what Bhavish was paying and then proceeded to abandon him by the side of the road. Understanding the plight of travellers everywhere, he saw the amount of potential that an extraordinary cab booking service could have in this country. In 2010, he changed his business model from a holiday and tour planning company to a taxi hailing firm.

</p><br>

  


  <p>Initially Ola operated from Mumbai as a taxi aggregator service. Now it has shifted its head office at Bengaluru and works efficiently from there. Since Ola received its first investment there has been no looking backward for this initiative venture.

 
 </p><br>

<p> Until the year 2014, the company had expanded to a widely distributed network comprised of 200,000 cars across 85 cities. These 85 cities include all the metropolitan cities and various important cities in it. 

</p> <br>

<p>By november 2014, along with car rental scheme Ola also tried to incorporate autos on trial basis in Bangalore. After its success there it initiated the same idea in Delhi, Pune and Chennai by December 2014. In the year 2015 Ola also started its auto services in Chandigarh, Indore and Jaipur. 

</p> <br>

<p> From  June 2015 onwards, Ola users gained access to TFS cabs via the Ola mobile application that was an initiative that attracted many smartphone users of all wage types.
  <p>
    Then by  March 2016, Ola started its two wheeler services in Bengaluru as a trial venture. Until September 2015 Ola was valued at around $5 billion market. Taxi for sure as acquired by ola in march 2015 for $200 million. The company averages a total of about 150,000 bookings per day and has the highest market share in India of 60%.
 
  


</p> <br>

<p>However, the Ola journey was not as smooth as booking a cab on the app. In 2012, both the founders got a wake up call in the form of a website outage. Ankit Bhati, the Chief Technology Officer, who was in Bangalore at the time had to stay on call the entire night with the one man technology team in Mumbai to solve the issue. But that did not stop the duo. They shifted base from Mumbai to Bangalore and launched their mobile app, stepping up their game. The first version of the app, however, was a one touch destination for booking cabs..They were thoroughly displeased with his decision to become a ‘travel agent’, but when OlaCabs received it’s first round of funding from two angel investors, they started to believe in the change he was planning to bring.

 
</p> <br>

<p>Further, in 2015, the company also launched Ola Fleet, a cab lending arm, which operates as a subsidiary of ANI Technologies Pvt., Ltd., Ola’s parent company. By September 2015, the company was valued at $5 billion. In 2016, the company launched another flagship service Ola Play which became the world’s first connected car platform, transforming the commuting experiences and setting the tone for global innovation in this space. By the end of the year, started facing competition from Uber and another homegrown company TaxiForSure. Nevertheless, Ola persevered. The startup acquired TaxiForSure, launched another flagship service Ola Auto and continues to battle against Uber to become the majority shareholder of the market.

 </p>
 <br>
<p>Instead of buying and renting out their own cars, OlaCabs partnered with a number of Taxi Drivers, and added a touch of modern technology to the whole set up, where people could book cars at short notice through their call centers and from their app. The bookings allowed half/full day rental and even outstation taxis. They now have almost 4,000,000 cabs across the country, offering a variety of car options – Mini, Prime, Luxury – which can be paid for through on of the different modes available.
</p> <br>
<p>Since its inception, OlaCabs has raised funds from SoftBank Corp, and other investors during two rounds of VC finding. They also recently came up with the plan of ‘charging lesser than an average auto rickshaw’ by offering cabs at ridiculously cheap prices of Rs.10/km. OlaCabs has now ventured into collaborating with autos, with the launch of OlaAuto. You can now find an auto on demand, using their app.
</p> <br>

<p>Ola is India’s homegrown ride-hailing app with about 60% market share in India with users across over 110 cities of India and 10 lakh driver-partners. Driven by a hyperlocal approach, Ola is committed to its mission of building mobility for a billion people.
</p>
<br>
<p>In a move to expand beyond cab aggregation, Ola is trying to acquire the  struggling food tech company Food Panda with an eye on leveraging the growing food delivery segment business . Ola is currently working on making its second acquisition with Ridlr (formerly Traffline), a public transport ticketing app. 
</p>
<br>
<p>The taxi aggregator efficiently bridges the gap between cab owners and commuters adding a touch of technology to make lives and transportation easier. The company partners with drivers and cab owners to offer a variety of cab services to commuters across India. Leveraging the best of technology and building innovative solutions, the company expanded to reach 50+ cities by 2015. Serving 200,000 rides per day, which roughly translated to 6 million riders per month, the taxi hailing startup grew at a rate of over 40%.
</p>
<br>
<p>At present by the end week of June 2019, Karnataka Transport Department ordered both the giant cab companies, Ola and Uber, to stop their pool services in Bangalore. The decision was made after a closed room meeting of Karnataka Government and Karnataka Transport Department. A two page notice was sent to all the cab companies including giants, Ola and Uber. According to the notice, pool services are now illegal as per the new act. They were asked to remove the Cab Sharing feature from their app for the Bangalore City.
</p><br>
<p>Ola plans to launch in 50 cities with prime focus on high-end European and Gulf markets. Soon it plans to launch in Netherlands. Its capital, Amsterdam, is a central location for catering to the markets in Central, Northern and Eastern Europe and even North Africa. Apart from Uber, Ola will compete with Taxify which is Europe's leading ride-sharing platform and has transport operations across 25 countries.
 
</p><br>
<ol>
  Some of the major strengths that led to the development of the company are :
  <li>
     Ola is first of its kind taxi aggregator service provider in the country.

  </li>
  <li> It achieved the no.1 rank in the sector after acquiring Taxi for sure.
</li>
<li>The services offered by ola are well appreciated by the public
</li>
<li>TV, online and print media marketing has helped to create awareness about the company.
</li>
<li> Increase in customer base due to strong network effect.
</li>
<li> Financial condition of the company has improved after investments by various firms.</li>
</ol>



</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. From which city did ola start its journey 
</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a"> Hyderabad
<br>
    <input type="radio" name="q1" id="1b"> Delhi <br>
    <input type="radio" name="q1" id="1c"> Mumbai<br>
    <input type="radio" name="q1" id="1d"> Chennai
<br>
  </p>
</div>

<br>
<b class="collapsible">Q2.In which state pool services had been banned due to the overcrowding of tax aggregating services in the busy roads.

</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">Tamil Nadu<br>
    <input type="radio" name="q2" id="2b">Andhra Pradesh<br>
    <input type="radio" name="q2" id="2c">Karnataka<br>
    <input type="radio" name="q2" id="2d">Bhopal<br>
    
  </p>
</div>

<br>
<b class="collapsible">Q3.Which company controls the functioning of ola in all aspects from app interface to fundings?

 </b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">Ani technologies
<br>
    <input type="radio" name="q3" id="3b">Techno park
<br>
    <input type="radio" name="q3" id="3c">Avni technologies

<br>
    <input type="radio" name="q3" id="3d">Traffine
<br>
  </p>
</div>

<br>
<b class="collapsible">Q4.In which year the ola  company had a shake off due to the website outstage problems?
</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">2013<br>
    <input type="radio" name="q4" id="4b">2012<br>
    <input type="radio" name="q4" id="4c">2010<br>
    <input type="radio" name="q4" id="4d">2015<br>
  </p>
</div>

<br>
<b class="collapsible">Q5.In which month of the year 2016 the two wheeler services had been started in bangalore?

 </b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">August<br>
    <input type="radio" name="q5" id="5b">December<br>
    <input type="radio" name="q5" id="5c">January<br>
    <input type="radio" name="q5" id="5d">None of the above<br>
  </p>

<br>
<b class="collapsible">Q6.In a move to expand beyond cab aggregation, Ola is trying to aggregate with which food company to expand their base?

 </b>
<div class="content">
    <p>
    <input type="radio" name="q6" id="6a">Uber eats<br>
    <input type="radio" name="q6" id="6b">Swiggy<br>
    <input type="radio" name="q6" id="6c">Zomato<br>
    <input type="radio" name="q6" id="6d">Food Panda<br>
  </p>

<br>
<b class="collapsible">Q7.Who was the pillar behind the idea of ola ?

 </b>
<div class="content">
    <p>
    <input type="radio" name="q7" id="7a">Vijay Shekhar 

<br>
    <input type="radio" name="q7" id="7b">Sriharsha majety<br>
    <input type="radio" name="q7" id="7c">Bhavish agarwal<br>
    <input type="radio" name="q7" id="7d">Nandan Reddy<br>
  </p>

  <br>
<b class="collapsible">Q8.Objectives that laddered the company to its peak

 
 </b>
<div class="content">
    <p>
    <input type="radio" name="q8" id="8a">Marketing and promotion strategy


<br>
    <input type="radio" name="q8" id="8b">24 hrs availability from any place (interior or exterior of the city)

<br>
    <input type="radio" name="q8" id="8c">low cost for the 
<br>
    <input type="radio" name="q8" id="8d">popularity among the public(ontime pickup,decorum maintenance)

<br>
  </p>
<br>
<b class="collapsible">Q9.Which  flagship service was considered as the world's first connected car platform, transforming the commuting experiences of different places?


 </b>
<div class="content">
    <p>
    <input type="radio" name="q9" id="9a">ola visit<br>
    <input type="radio" name="q9" id="9b">ola travel<br>
    <input type="radio" name="q9" id="9c">ola play<br>
    <input type="radio" name="q9" id="9d">ola journey<br>
  </p>
</div>
  
  <b class="collapsible">Q10.Ola is India’s homegrown ride-hailing app with _______ % market share in India .

</b>
<div class="content">
  <p>
    <input type="radio" name="q10" id="10a"> 45%

<br>
    <input type="radio" name="q10" id="10b"> 60%
 <br>
    <input type="radio" name="q10" id="10c"> 55%
<br>
    <input type="radio" name="q10" id="10d"> 72%

<br>
  </p>
</div>

<br>

    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <script>
    var marks = 0
    function next(){
     var _0x3951=['checked','getElementById'];(function(_0xd64edc,_0x337cf3){var _0x38b478=function(_0x5a07ed){while(--_0x5a07ed){_0xd64edc['push'](_0xd64edc['shift']());}};_0x38b478(++_0x337cf3);}(_0x3951,0xbb));var _0x4a9a=function(_0x10ddb0,_0x14bfe4){_0x10ddb0=_0x10ddb0-0x0;var _0x2f42ce=_0x3951[_0x10ddb0];return _0x2f42ce;};if(document[_0x4a9a('0x0')]('1c')[_0x4a9a('0x1')]){marks++;}if(document[_0x4a9a('0x0')]('2c')[_0x4a9a('0x1')]){marks++;}if(document[_0x4a9a('0x0')]('3a')[_0x4a9a('0x1')]){marks++;}if(document[_0x4a9a('0x0')]('4b')[_0x4a9a('0x1')]){marks++;}if(document[_0x4a9a('0x0')]('5d')[_0x4a9a('0x1')]){marks++;}if(document['getElementById']('6d')[_0x4a9a('0x1')]){marks++;}if(document['getElementById']('7c')[_0x4a9a('0x1')]){marks++;}if(document[_0x4a9a('0x0')]('8c')[_0x4a9a('0x1')]){marks++;}if(document['getElementById']('9c')['checked']){marks++;}if(document[_0x4a9a('0x0')]('10b')[_0x4a9a('0x1')]){marks++;}
      $.ajax({
            type:'GET',
            url:'http://localhost:3000/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivrnd = currentState.trivrnd                                      //flag to check if this part is already answred
              if(trivrnd == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/question'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "http://localhost:3000/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreRnd": marks,                                         //update score
                      "trivrnd": 'done',                                           //to update raise the flag when answred
                  		"flag":"true"
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // console.log(response)
                      token = response.token
                      console.log(token)
                      console.log(response)
                      responseScore = response
                      location.href='/question'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
      
      
  </script>
  
</body>

</html>