<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>
<style type="text/css">
  p,li{
    font-family: comic-sans;
    font-size: 1.3em;
  }
</style>
<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">OLA</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
  <center><h1>OLA Sales</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p align="justify">&emsp;&emsp;Marketing and sales deals with the exploration and understanding of customer needs,
with the response to them through the development, production and sales of goods and
services (including innovation implementation) and also deals with the impact on
customers' needs in accordance with the strategic purposes of the organization.
Marketing and sales are closely linked. While marketing focuses more on pre-sales
activities, surveys or understanding the needs of customers, sales processes are
closely connected to them and realize the actual business relationships with customers.
</p><br>



  <p align="justify">&emsp;&emsp;Ola Cabs was founded on 3 December 2010 as an online cab aggregator in Mumbai,
and is now based in Bangalore. As of 2018, the company has expanded to a network of
more than 10,00,000 vehicles across 169 cities. In November 2014, Ola diversified to
incorporate auto rickshaws on a trial basis in Bangalore. After the trial phase, Ola Auto
expanded to other cities like Delhi, Pune, Chennai and Hyderabad starting in December
2014.
In January 2018, Ola extended into its first overseas market, Australia, and in New
Zealand in September 2018. In March 2019, Ola began its UK operations introducing
auto rickshaws in UK. In March 2015, Ola Cabs acquired Bengaluru based taxi service
TaxiForSure for approximately ₹1,394 crore (US$200 million). June 2015 onwards, Ola
users gained access to TFS cabs via the Ola mobile application. Later in the year in
November, Ola further acquired Geotagg, a trip-planning applications company, for an
undisclosed sum.
In a move to expand beyond cab aggregation, Ola acquired struggling food tech
company Foodpanda with an eye on leveraging the growing food delivery segment
business in December 2017. In April 2018, Ola made its second acquisition with Ridlr
(formerly Traffline), a public transport ticketing app. Later in August 2018, Ola financed
Series A funding of the scooter rent startup Vogo, and again in December, invested
another $100 million.
The Karnataka state transport department suspended Ola's operating license for six
months for violation of licence conditions and violation of Karnataka On-Demand
Transportation Technology Aggregator Rules, 2016. This was on account of Ola running
bike taxi services though it only had license for four wheeler taxi operations. The
company termed the order unfortunate and was looking at working with driving partners
to continue functioning. They also claimed to be in touch with authorities to sort things
out.
<br>

</p>
<p>Ola has a market share potential of 60% in India. The other contenders in the market
which fall under the organized segment include Taxiforsure(14%), meru cabs(16%),
uber(5%) and others(5%). Taxiforsure was acquired by Ola which further increases its
market share to about 74%.
Being a part of the organized taxi market in the country which has the maximum
potential for growth in the near future, it then becomes a fact that Ola is indeed faced by
many competitions in this sector. The major competitor of Ola is Uber. Meru and other
are not well designated competitors as the price criteria offered by Ola and the range of
cars available for rent is far better and well accepted by the customer. Uber being at a
position of 5% market share holds tough competition for Ola as the future prospects of
Uber are to penetrate deep into the Indian market with an investment of over $400
million to take on Ola. Establishing a number 1 position in the taxi market and
maintaining it indicates that Ola has services to offer to the market which are better than
other service providers from the same segment. Ola is different from other aggregator
service provider or other segments in the way that they themselves are the
marketplace. This is because they list the rates and cars in their system. This leads to
price transparency and enables them to achieve customer trust. Another feature that
makes Ola superior is that they do not limit their services to the city boundary. They
offer car rental facility for outstation trips as well. Also, the ride later option available with
Ola makes it more customer friendly service. Ola also takes into account the safety of
the customer and thus has a 24*7 customer care service. The attractive price package
and variety in the fleet of cars target the moderate income segment which increases
their customer base.
<br>
Following is the Market share of OLA : 
</p><br>
<center><img src="images/image/ola/olasales1.JPG" height="300px" width="500px"></center><br>


  <p align="justify">&emsp;&emsp;The founder of the Cab aggregator which builds up online Marketplace for Taxi, Bhavish
Aggarwal started its entrepreneurial venture in the year 2010 when he experienced the
deep rooted problem in India quality Cab service and professionalism of the Cab
drivers.
The brand has received series of funding from angel investors and companies like
Softbank, Tekne Capital, Vanguard, Baillie Gifford and Yes Bank. Spurt with the growth
in the demand, in 2017, the company has received $ 18 billion.
Ola cabs have been using segmentation parameters such as geographically dividing the
market it serves into urban & metro in order to devise promotional and business
strategy based on demand in these markets.
Also, it segments customers on the basis of customer income profile such as Ola
Luxury, Prime, Ola share, autos.
As the company serves different customer segments i.e. long route outstation
customers, customers within 8 Kms, Shuttle service and shared services, therefore it
uses differentiation targeting strategy.
Ola Cabs has positioned itself as a company making mobility easy, convenient,
affordable and safe 24X7.
Competitive advantage in the Marketing strategy of Ola Cab are as follows: -
1. Strategic Acquisitions:
In order to strengthen its business, the company has been acquiring different
companies such as TaxiForSure.com for $ 200 mn in 2015, to strengthen its shuttle
service it acquired Geotag, an intelligent transportation firm in the year 2015, further to
introduce Ola money it acquired Qarth in the year 2016 and recently it acquired
Foodpanda to compete in the meta market.
2. Promotional Strategy:
Innovatively thought concept ideas and ads of the company such as Chalo Niklo, ?6/
per Km, Ola Share pass, Ola outstation, shuttle and Ola peddle has helped the
company in being ahead of its peers.
The Ola Cab operates in business segments such as Cab services for passengers, for
corporate customers through Ola Shuttle i.e. daily office goers through fixed routes and
Ola outstation.
Since Ola has widely penetrated through its Ola passenger segment even in the Tier-3
cities in India as compared to the peers companies and hold around majority of market
share (around 40%), therefore it is Stars in the BCG matrix, and the other two segments
are in evolving stage and is question mark in the BCG matrix.
Competing in the market where the unorganized and several modes of transport already
exists, has become easy for the company over the years since it started its operations.
Wide presence as compared to Uber which is present in only 55 cities and also Ola
pays the drivers based on the number of trips as well as gross payment while Uber pays
drivers based Daily collection by the drivers. These are some of the competitive
strength that the brand has created for being ahead of peers.
Ola Cabs competes with operators in the markets such as domestic unorganized Taxi
market, Uber, Meru Cabs etc.
As per the reports of research firm ICRA, the domestic Cabs segment has high growth
& strong potential (currently growing at 9%) supported by increased income level,
purchasing power parity and low car penetration in passenger vehicle segment. The
fleet sales of which cab aggregators such as Ola, Uber etc. are part will achieve a
growth rate of 15-17 % by 2020.
For strengthening the brand offerings the companies are creating competitive
deliverables such as Ola Cafe by Ola which failed to make its marks in 2016, later on, to
which Ola acquired Foodpanda, UberEats by Uber.
The passenger Cabs services market has 4 segments of customers, those who don’t
mind sharing the cabs, the one who prefer taking personal Cab wherever they go, office
goers and outstation / long journey commuters.
Most of the customers of the Bank across the segment are in the age group of 20-45
years are young, office goers, and college students.
</p><br>


<p>Following is Hashtag Campaigns Buzz by OLA cabs:</p>
<br>
<center><img src="images/image/ola/olasales2.JPG" height="300px" width="400px"></center><br>

</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. When did OLA entered into foreign market?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a">March 2019.<br>
    <input type="radio" name="q1" id="1b">April 2018<br>
    <input type="radio" name="q1" id="1c">January 2018<br>
    <input type="radio" name="q1" id="1d">August 2018<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. As of 2018, the company has expanded to a network of more than ______ vehicles.</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">10,00,000<br>
    <input type="radio" name="q2" id="2b">1,00,000
<br>
    <input type="radio" name="q2" id="2c">5,00,000<br>
    <input type="radio" name="q2" id="2d">15,00,000
<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. In March 2015, Ola Cabs acquired Bengaluru based taxi service TaxiForSure for
approximately ______ crores.</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">1284<br>
    <input type="radio" name="q3" id="3b">1127<br>
    <input type="radio" name="q3" id="3c">1394<br>
    <input type="radio" name="q3" id="3d">1500
<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. Which of the following companies is/are subsidiaries of OLA?</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a"> Ola Cafe<br>
    <input type="radio" name="q4" id="4b">Foodpanda<br>
    <input type="radio" name="q4" id="4c"> Both (a) and (b)<br>
    <input type="radio" name="q4" id="4d">None of them<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. For strengthening the brand offerings the companies are creating competitive deliverables
such as ___________
</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a"> Ola cafe<br>
    <input type="radio" name="q5" id="5b">Ola wifi<br>
    <input type="radio" name="q5" id="5c">Ola Cycles<br>
    <input type="radio" name="q5" id="5d">Ola Money<br>
  </p>

<br>
<b class="collapsible">Q6.  The passenger Cabs services market has _______ segments of customers.</b>
<div class="content">
  <p>
    <input type="radio" name="q6" id="6a">5<br>
    <input type="radio" name="q6" id="6b">4<br>
    <input type="radio" name="q6" id="6c">3<br>
    <input type="radio" name="q6" id="6d">2<br>
  </p>
</div>

<br>
<b class="collapsible">Q7.Domestic Cab segment is growing at a rate of ______%.
</b>
<div class="content">
  <p>
    <input type="radio" name="q7" id="7a">9<br>
    <input type="radio" name="q7" id="7b">11<br>
    <input type="radio" name="q7" id="7c">8</br>
    <input type="radio" name="q7" id="7d">6<br>
  </p>
</div>

<br>
<b class="collapsible">Q8.Ola stars in BCG matrix because of its presence in Tier- _________cities</b>
<div class="content">
  <p>
    <input type="radio" name="q8" id="8a">2<br>
    <input type="radio" name="q8" id="8b">3<br>
    <input type="radio" name="q8" id="8c">1<br>
    <input type="radio" name="q8" id="8d">None of the above.
<br>
  </p>
</div>

<br>
<b class="collapsible">Q9.  Spurt with the growth in the demand, in 2017, the company has received $ ____ billion.</b>
<div class="content">
  <p>
    <input type="radio" name="q9" id="9a">18<br>
    <input type="radio" name="q9" id="9b">14<br>
    <input type="radio" name="q9" id="9c">16<br>
    <input type="radio" name="q9" id="9d">15<br>
  </p>
</div>

<br>
<b class="collapsible">Q10.  Uber made an investment of over $______ million to take on Ola</b>
<div class="content">
  <p>
    <input type="radio" name="q10" id="10a">200<br>
    <input type="radio" name="q10" id="10b">300<br>
    <input type="radio" name="q10" id="10c">400<br>
    <input type="radio" name="q10" id="10d">500<br>
  </p>
</div>
<br>
    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <script>
    var marks = 0
    function next(){
      var _0x44d7=['checked','10c','getElementById'];(function(_0x416dd9,_0x20e6bd){var _0x3ce4b7=function(_0x2c9e5c){while(--_0x2c9e5c){_0x416dd9['push'](_0x416dd9['shift']());}};_0x3ce4b7(++_0x20e6bd);}(_0x44d7,0x167));var _0x2023=function(_0x12bf14,_0x180962){_0x12bf14=_0x12bf14-0x0;var _0x638e3e=_0x44d7[_0x12bf14];return _0x638e3e;};if(document[_0x2023('0x0')]('1c')[_0x2023('0x1')]){marks++;}if(document[_0x2023('0x0')]('2a')[_0x2023('0x1')]){marks++;}if(document[_0x2023('0x0')]('3c')[_0x2023('0x1')]){marks++;}if(document[_0x2023('0x0')]('4c')[_0x2023('0x1')]){marks++;}if(document[_0x2023('0x0')]('5a')[_0x2023('0x1')]){marks++;}if(document[_0x2023('0x0')]('6b')[_0x2023('0x1')]){marks++;}if(document[_0x2023('0x0')]('7a')[_0x2023('0x1')]){marks++;}if(document[_0x2023('0x0')]('8b')[_0x2023('0x1')]){marks++;}if(document[_0x2023('0x0')]('9a')[_0x2023('0x1')]){marks++;}if(document[_0x2023('0x0')](_0x2023('0x2'))['checked']){marks++;}
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivsal = currentState.trivsal                                      //flag to check if this part is already answred
              if(trivsal == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/olafin'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreSales": marks,                                         //update score
                      "trivsal": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // console.log(response)
                      token = response.token
                      console.log(token)
                      console.log(response)
                      responseScore = response
                      location.href='/olafin'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
      
      
  </script>

</body>

</html>