<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Rule Book</title>
    <style>
        body{
            font-family: 'Raleway', sans-serif;
        }
        .page-1{
            width : 100%;
            height : 100vh;
        }
        .page-1 h1{
            font-size: 55px;
            text-align: center;
            padding-top: 18%;
            font-weight: 700;
        }
        .page-1 p{
            font-size:40px;
            text-align: center;
            padding-top: 1%;
            padding-bottom:0px;
            margin-bottom: 10px;
        }
        .page-1 hr{
            width : 200px;
            border-top: 2px solid #8c8b8b;
        }

        .page-2{
            width : 100%;
            height: 100vh;
            font-size:20px;
        }
        .page-2 h1{
            font-size: 35px;
            margin-left:1.5%;
            font-weight: 600;
            padding-bottom: 20px;
            padding-top:20px;
        }
        .page-2 li{
            /* margin-left: 3%; */
            font-weight: 700;
            font-size: 24px;
        }
        .page-2 p{
            font-weight: 500;
        }
        .page-1 img{
            display: block;
            margin-right:auto;
            margin-left: auto;
            margin-top:18%;
        }
        .page-2 img{
            display: block;
            margin-right:auto;
            margin-left: auto;
            margin-top:6%;
        }
        .page-3{
            width : 100%;
            height: 120vh;
            font-size:20px;
        }
        .page-3 h1{
            font-size: 35px;
            margin-left:1.5%;
            font-weight: 600;
            padding-bottom: 20px;
            padding-top:20px;
        }
        .page-3 p{
            font-weight: 500;
            margin-left: 1.5%;   
            font-size: 20px;
            /* margin-right:1.5%; */
        }
        .page-3 img{
            display: block;
            margin-right:auto;
            margin-left: auto;
            width: 60%;
        }
        .page-3 .compulsory{
            font-size:25px;
            /* margin-left: 3%;     */
            font-weight: 800;
            color: rgb(192,0,0);
        }
        .page-3 li{
            margin-top:5px;
        }
        .btn{
            margin-top:10px;
            margin-bottom:20px;
            margin-left:46%;
        }
    </style>
</head>
<body>
    <div class="page-1">
        <h1>BUSINESS IDEAS</h1>
        <p>Rules of Procedure</p>
        <hr>
        <!-- <img src="icons8-expand-arrow-64.png"> -->
    </div>
    <div class="page-2">
        <h1><u>Round 1:</u> Introduction & Crisis </h1>
        <ol>
            <li>Assignment:-</li>
            <p>The participating teams will be assigned a particular company with which they will proceed in this competition. </p>
            <li>Introduction:-</li>
            <p>The teams will be given detailed though concise information on the company chosen by them. This information document will be comprising company details on all the four domains of it .i.e. Finance, Production, Research and Development along with Sales and Marketing.</p>
            <ul>
                <li>Comprehension:-</li>
                <p>The teams have to read the passage thoroughly for each domain which will be followed by short questions corresponding to the respective domain. Answering the questions is compulsory and marks will be awarded for the correct answer*. These scores will affect the team’s final score to be considered for ranking.</p>
                <p><strong>(*Wrong answer won’t result in any negative marking)</strong></p>
            </ul>    
            <li>Crisis Situation:-</li>
            <p>Once the team is done with answering the comprehension question, they’ll be facing their first company crisis question which might be from any domain followed by some probable solutions from our side. After overcoming the particular domain crisis, the chosen option will lead the team to the next crisis question of a different domain.</p>
            <ul>
                <li>Marking:-</li>
                <p><strong>There are no wrong answer/solution.</strong> The chosen solution will be marked on the level of correctness and the feasibility in pursuing the chosen solution. Choosing the best answer will fetch the team full point(.i.e 100 points) and choosing the least correct option will fetch 40 points.</p>
            </ul>
            <li>Ranking:-</li>
            <p>The points accumulated by answering the comprehension questions and choosing the appropriate solution the four crises, the final points will decide the team’s ranking in the competition and also will be carried forward in further rounds.  </p>
        </ol>
        <!-- <img src="icons8-expand-arrow-64.png"> -->
    </div>
    <div class="page-3">
        <h1><u>Round 2:</u> Company Merger</h1>
        <p>You are each to merge with a company assigned to you. Every merger is unique. You are given the situation and the essence of the merger situation. When you are asked to merge with another company, you’ll be coming together for the described situation. Other than that, your company functions individually. So negotiate your best to save as many points as you can while successfully merging with the other company.</p>
        <img src="images/table.png">
        <ul>
            <li style="margin-left:12%"><strong>Wc-</strong> The weight with which the domains final point after merger will be multiplied which will be considered for ranking.</li>
            <li style="margin-left:12%"><strong>Wx-</strong> The weight with which the points dedicated for the merger by the teams will be multiplied and be accounted in the merger.</li>
            <li style="margin-left:12%"><strong>Threshold Points-</strong> The minimum number of points required to successfully complete the merger of that particular domain which will be given by both the teams.</li>
        </ul>
        <h1>Process of Merger:</h1>
        <p class="compulsory">Merging is Compulsory!</p>
        <ol>
            <li>The pair of companies will give away points from their own domains’ points to reach the threshold points of that particular domain.</li>
            <li>The points won’t directly be added to the merger but they’ll go through a pre decided weight(Wx) multiplication and then be added to the meger. Say the points gathered in the finance domain of company A after round 1 is 80 and the Wx of finance is 0.6. If it decides to contribute 30 points towards the merger, then the net points contributed will be <strong>30*0.8=24 (Domain Points*Wx=Total).</strong> So the 24 points will be added in that domains merger but 30 will be reduced from domain points.</li>
            <li>Once both companies have contributed enough points to conclude the merger of all the four domains, the merger of the pair of companies will be considered complete.</li>
            <li>After the merger, the companies final point of the particular domain will be decided by multiplying the remaining points to Wc of the particular domain. After merger, company A is left with 50 points in its finance domain and Wc of Finance is 0.8. The final points of the company’s finance domain will be <strong>50*0.6=30(Domain Points*Wc=Total).</strong></li>
            <li>Incase of an unsuccessful merger, all the contributed points will go back to the contributing team and they will be ranked on the basis of their round 1 final scores only.</li>
        </ol>
    </div>
    <button type="button" class="btn btn-success btn-lg" onclick="next()">NEXT</button>
    <script>
        const next = ()=>{
            location.href='/quiz'
        }
    </script>
</body>
</html>