<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business Ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">SAMSUNG</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>Samsung Production</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p align="justify">&emsp;&emsp;Production is the organized activity of transforming resources into finished products in the form of goods and services. Samsung is a major manufacturer of electronic components such as lithium-ion batteries, semiconductors, chips and flash memory devices for clients such as Apple, Sony, HTC and Nokia. It is the world's largest manufacturer of mobile phones and smartphones, started with the original Samsung Solstice and later, the popularity of its Samsung Galaxy line of devices.<br>
&emsp;Samsung Electronics is currently manufacturing 50% of its mobile phones in Vietnam and only 8% in Korea. At present, Samsung Electronics is running six mobile phone manufacturing facilities in the six countries of Vietnam, China, India, Brazil, Indonesia, and Korea.<br> 
&emsp;The two factories in China have a maximum capacity of 150 million phones. In India, its facilities with a capacity of 50 million are located in the Noida Industrial Complex on the outskirts of New Delhi. The plants in Brazil and Indonesia are capable of manufacturing up to 12 million and 8 million mobile phones a year each. The two factories in Brazil are currently producing 6.5 million handsets per year and those in Jakarta were put into full-scale operation this month. The annual production capacity of its plant in Gumi, Korea is estimated at around 40 million units. <br>
&emsp;Samsung specializes in the production of a wide variety of consumer and industrial electronics, including appliances, digital media devices, semiconductors, memory chips, and integrated systems. In July 2017, Samsung Electronics overtook Intel as the largest semiconductor chip maker in the world. 
</p><br><br>



  <p align="justify">&emsp;&emsp;Samsung was founded as a grocery trading store on March 1, 1938, by Lee Byung-Chull. He started his business in Taegu, Korea, trading noodles and other goods produced in and around the city and exporting them to China and its provinces. After the Korean War, Lee expanded his business into textiles and opened the largest woollen mill in Korea. He focused heavily on industrialization with the goal of helping his country redevelop itself after the war.<br>
&emsp;During the 1970s the company expanded its textile-manufacturing processes to cover the full line of production—from raw materials all the way to the end product—to better compete in the textile industry. New subsidiaries such as Samsung Heavy Industries, Samsung Shipbuilding, and Samsung Precision Company (Samsung Techwin) were established.<br>
&emsp;Samsung first entered the electronics industry in 1969 with several electronics-focused divisions—their first products were black-and-white televisions. In the 1980s they entered telecommunication hardware industry. After that, they shifted their focus to mainly developing mobile phones and they also expanded to Portugal, New York, and England. </p><br>



  <p align="justify"> &emsp;&emsp;When the company began to export home electronics products overseas. It witnessed the rapid expansion of technology businesses. As the business grew, a separate semiconductor and electronics branches were established and an aerospace division was created. Later Samsung Data Systems (now Samsung SDS) was established to serve the growing business’ need for systems development. This helped Samsung quickly become a leader in information technology services.<br>
&emsp;Furthermore, Samsung continued its expansion into the global electronics markets. Despite its success, Samsung faced a severe miscarriage due to corporate scandals that afflicted the company, including multiple bribery cases and patent-infringement suits. Nevertheless, the company continued to make advancements on the technology and product-quality fronts, with a number of its technology products—ranging from semiconductors to computer-monitor and LCD screens—climbing into top-five positions in global market share.<br>
&emsp;Beginning of the 21st century witnessed the birth of Samsung’s Galaxy smartphone series, which topped annual lists of the best-selling smartphones in the world. Samsung invested in LCD technology, becoming the largest manufacturer of LCD panels in the world by 2005. Sony partnered with Samsung in 2006 to develop a stable supply of LCD panels which was profitable for Samsung as it invested in large LCD screens. Since then, the company has been the top-selling global manufacturer of televisions. While the partnership was 50-50 but as they owned one more share than Sony so they had control over manufacturing. At the end of 2011, Samsung bought Sony’s stake in the company and took full control because of these Samsung became the world's largest manufacturer of OLEDs.<br>
&emsp;As of 2006, it held more than 600 American patents and more than 2,800 international patents, making it the largest owner of AMOLED technology patents because of which they generated $100.2 million out of the total $475 million revenues in the global OLED market in 2006. Samsung continued to expand in the mobile phone sector and became the largest manufacturer of mobiles in 2012 and to dominate these market0s they invested $3-4 b freeillion to upgrade their Austin texas manufacturing plant. A couple of years later, the Galaxy series was expanded to tablet computers with the introduction of the Galaxy Tab. Samsung disseminated a press release for its curved display technology with the Galaxy Round smartphone model.<br>
&emsp;Things were going smooth for Samsung until they faced a total collapse of Samsung Galaxy Note 7. In 2016, the Samsung Galaxy Note 7 seemed like quite a fine phone until it started to burst into flames. Apparently, some battery cells were defective, causing the problem. It had permanently discontinued the production of the Galaxy Note 7 and because of these incidents they lost their market shares to apple , google and other mobile companies these resulted in a 33% drop in there profits and revenue was decreased by $4.68 billion.to overcome the losses they released a FE edition phone which was released at a lower price compared to note 7 and it had a smaller battery compared to note 7.
</p><br>



  <p align="justify">&emsp;&emsp;Later, Samsung has shifted its focus on five core businesses including mobile, electronics and biopharmaceuticals. As part of its bio-pharma investment, Samsung formed a joint venture with Biogen, investing $255 million to provide technical development and biopharmaceutical manufacturing capacity in South Korea. <br>
&emsp;The Indian government has reportedly advanced the Phased Manufacturing Programme (PMP) timetable by two months. This is going to hit manufacturers hard as the new order mandates companies to begin local manufacture of components like touch panels and displays. So the company is planning to build a new manufacturing plant in India which will increase the manufacturing of mobile phone production in India to nearly 120 million per year as against the 67 million mobiles currently, which are being made in India. The company currently has over 10% of its overall production in India and aims to take it to 50% over the next three years.<br> 
&emsp;Samsung stopped TV production at its Chennai plant in October 2018 after a 5% customs duty was levied on open cell panels, a key component that accounts for 65-70% of the total production cost of the television. So, Samsung has opted to shut down TV production in India and import from Vietnam. The import duties on compressors have increased: initially 7.5% to now 10%, and under the FTA, this has made imports of mobiles considerably cheaper. "However, not all brands would benefit from such imports like Samsung since they don't have a manufacturing base in the ASEAN FTA nations.<br>
&emsp;Amidst the ongoing trade war between the US and China, Korean electronics giant Samsung is already planning on moving one of its manufacturing plants out of the Chinese mainland. As the production cost was rising due to increased import duties slapped by the US on China and because of these trade labour costs in Vietnam increased which affected Samsung significantly as 50% of Samsung production is in Vietnam.<br>
&emsp;Japan imposed restrictions on the imports of three key materials to make chips and displays to South Korea which affected Samsung significantly as they were mostly dependent on these exports from Japan to develop the chips and displays because of these there was a potential slowdown in the production of Samsung products which led to an increase in the price of chips. Japan also imposed restrictions on some chemicals which are used by Samsung to produce semiconductors and are crucial for making components — including memory chips, microprocessors and integrated circuits.<br>
&emsp;Two of the chemicals targeted by Japan are, hydrogen fluoride gas and photoresists. There are essential to make memory chips, while the third chemical, fluorinated polyimide, is used for high-spec TV screens and smartphone displays, including the forthcoming folding models from Samsung. But the Samsung spokesperson denied a South Korean media report that the firm had decided to replace all the approximately 220 Japanese chemicals and materials it uses for chip production with Korean or overseas products.<br>
&emsp;So, the focus of the company is now towards R&D to find a more suitable alternative for the Japanese chemicals, this results in a decrease in Production and making it financially more vulnerable and an insignificant amount of loss in Sales and Marketing.<br>
</p><br>

</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. During which year did Samsung entered the electronics industry?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a">1967<br>
    <input type="radio" name="q1" id="1b">1968<br>
    <input type="radio" name="q1" id="1c">1969<br>
    <input type="radio" name="q1" id="1d">1949<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. After which war did Lee enter the textiles business?</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">Japanese<br>
    <input type="radio" name="q2" id="2b">Korean<br>
    <input type="radio" name="q2" id="2c">Russian<br>
    <input type="radio" name="q2" id="2d">World War II<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. Which section helped Samsung to become a leader in information technology services?</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">Samsung Database Services<br>
    <input type="radio" name="q3" id="3b">Samsung Textiles<br>
    <input type="radio" name="q3" id="3c">Samsung Data Systems<br>
    <input type="radio" name="q3" id="3d">Samsung Aerospace Division<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. In July 2017, Samsung overtook which company to become the world's largest semiconductor chipmaker?</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">Dell<br>
    <input type="radio" name="q4" id="4b">AMD<br>
    <input type="radio" name="q4" id="4c">Nvidiaṣ<br>
    <input type="radio" name="q4" id="4d">Intel<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. With which company did Samsung merge to develop LCD displays?</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">Sony<br>
    <input type="radio" name="q5" id="5b">Onida<br>
    <input type="radio" name="q5" id="5c">Panasonic<br>
    <input type="radio" name="q5" id="5d">Videocon<br>
  </p>

<br>
<b class="collapsible">Q6. How much revenue did Samsung company generate in the global OLED market 2006?</b>
<div class="content">
  <p>
    <input type="radio" name="q6" id="6a">$101.1 million<br>
    <input type="radio" name="q6" id="6b">$100.1 million<br>
    <input type="radio" name="q6" id="6c">$102.2 million<br>
    <input type="radio" name="q6" id="6d">$100.2 million<br>
  </p>
</div>

<br>
<b class="collapsible">Q7. Samsung opted to shut down the production of which product in India?</b>
<div class="content">
  <p>
    <input type="radio" name="q7" id="7a">Television<br>
    <input type="radio" name="q7" id="7b">Washing Machine<br>
    <input type="radio" name="q7" id="7c">Refrigerator<br>
    <input type="radio" name="q7" id="7d">Smartphone<br>
  </p>
</div>

<br>
<b class="collapsible">Q8. Samsung formed a joint venture with Biogen. How much did Samsung invest in this?</b>
<div class="content">
  <p>
    <input type="radio" name="q8" id="8a">$225 million<br>
    <input type="radio" name="q8" id="8b">$255 million<br>
    <input type="radio" name="q8" id="8c">$250 million<br>
    <input type="radio" name="q8" id="8d">$200 million<br>
  </p>
</div>

<br>
<b class="collapsible">Q9. How many handsets were produced in two manufacturing units of brazil?</b>
<div class="content">
  <p>
    <input type="radio" name="q9" id="9a">6.2 million<br>
    <input type="radio" name="q9" id="9b">6.3 million<br>
    <input type="radio" name="q9" id="9c">6.4 million<br>
    <input type="radio" name="q9" id="9d">6.5 million<br>
  </p>
</div>

<br>
<b class="collapsible">Q10. As of 2006, the number of patents held by Samsung making it the largest owner of AMOLED technology patents are:</b>
<div class="content">
  <p>
    <input type="radio" name="q10" id="10a">2800 International patents and 500 American patents<br>
    <input type="radio" name="q10" id="10b">2600 International patents and 600 American patents<br>
    <input type="radio" name="q10" id="10c">2700 International patents and 700 American patents<br>
    <input type="radio" name="q10" id="10d">2800 International patents and 600 American patents<br>
  </p>
</div>

<br>
    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <!-- <script src="js/description.js"></script> -->

  <script>
    var marks = 0
    function next(){
     var _0x1e32=['getElementById','checked'];(function(_0x3a8ef3,_0x1a443c){var _0x2636e6=function(_0x35305e){while(--_0x35305e){_0x3a8ef3['push'](_0x3a8ef3['shift']());}};_0x2636e6(++_0x1a443c);}(_0x1e32,0x7b));var _0x4a37=function(_0x2fb655,_0x5a40eb){_0x2fb655=_0x2fb655-0x0;var _0xe6a3a0=_0x1e32[_0x2fb655];return _0xe6a3a0;};if(document['getElementById']('1c')[_0x4a37('0x0')]){marks++;}if(document[_0x4a37('0x1')]('2b')[_0x4a37('0x0')]){marks++;}if(document[_0x4a37('0x1')]('3c')[_0x4a37('0x0')]){marks++;}if(document[_0x4a37('0x1')]('4d')[_0x4a37('0x0')]){marks++;}if(document[_0x4a37('0x1')]('5a')[_0x4a37('0x0')]){marks++;}if(document[_0x4a37('0x1')]('6d')[_0x4a37('0x0')]){marks++;}if(document[_0x4a37('0x1')]('7a')[_0x4a37('0x0')]){marks++;}if(document[_0x4a37('0x1')]('8b')[_0x4a37('0x0')]){marks++;}if(document['getElementById']('9d')[_0x4a37('0x0')]){marks++;}if(document[_0x4a37('0x1')]('10d')['checked']){marks++;}
      $.ajax({
            type:'GET',
            url:'https://business-ideas-users-api.herokuapp.com/users/me',
            headers: {'Authorization': `Bearer ${document.cookie}`},
            success:function(currentState){
              trivpro = currentState.trivpro                                      //flag to check if this part is already answred
              if(trivpro == "done"){                                              //flag to check if this part is already answred
                
                alert("You have already answered this part, so no updates")
                location.href='/samsungrnd'                                      //next route
              }else{
                $.ajax({
                  type: "PATCH",
                  url: "https://business-ideas-users-api.herokuapp.com/users/me",
                  headers: {
                      'Authorization': `Bearer ${document.cookie}`
                  },
                  data: JSON.stringify({
                      "scoreProduction": marks,                                         //update score
                      "trivpro": 'done'                                           //to update raise the flag when answred
                  }),
                  crossDomain: true,
                  dataType: "json",
                  contentType: "application/json",
                  success: function (response) {
                      // //console.log(response)
                      token = response.token
                      //console.log(token)
                      //console.log(response)
                      responseScore = response
                      location.href='/samsungrnd'                               //next route
                  }
              });
              }
              
            }   
            
           })
         }
      
      
  </script>
  
</body>

</html>