<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business Ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">SAMSUNG</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
	<center><h1>Samsung Sales</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p>Marketing and sales deals with the exploration and understanding of customer needs, with the response to them through the development, production and sales of goods and services (including innovation implementation) and also deals with the impact on customers' needs in accordance with the strategic purposes of the organization. Marketing and sales are closely linked. While marketing focuses more on pre-sales activities, surveys or understanding the needs of customers, sales processes are closely connected to them and realize the actual business relationships with customers. </p><br>






<p>Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Over the years it has faced a lot of changes and there were a lot of product launches. The sales of Samsung mobiles over the past 10 years are given below.</p>
<br>
<center><img src="images/image/samsung/samsungsales1.jpg" height="300px" width="400px"></center><br>



  <p>The company is still facing a lot of crisis from other companies like one plus, Huawei, xiomi and others. Companies like vivo and oppo are churning the market shares.
</p><br>

 


  <p>Samsung seeks to grow with its existing products in every market the company operates. Market penetration seems to be the least risky of all growth strategies as it allows Samsung to leverage its existing capabilities and resources. Samsung opts for market penetration to increase its market share. In growing markets, Samsung launches its market penetration strategy to increase its existing market share. The company can adopt aggressive marketing and promotions, offer competitive pricing, etc. to eat into its competitors market share. For instance, Samsung drops the prices of its smartphones a few months before the launch of its next model. This allows Samsung to acquires new customers, increase its market share and at the same time clear its old stock prior to the launch of its latest product line. </p><br>
  <p>Samsung started as a small business based out in Su-dong, South Korea and today is a global brand present in over 180 countries. For instance, find below the timeline of Samsung’s market development and international expansion.
</p><br>
<center><img src="images/image/samsung/samsungsales2.jpg" height="300px" width="400px"></center><br>
<ul>
	<li>
1970 – Samsung opens a sales subsidiary in Germany,	</li>
<li>1982 – Samsung opens a television assembly plant in Portugal.</li>
<li>1984 – Samsung opens a television assembly plant in the United States.</li>
<li>1985 – Samsung builds a television assembly plant in Japan.</li>
<li>1987 – Samsung develops facilities in the United Kingdom</li>
</ul><br>
<p>The market development strategy involves Samsung targeting its existing products and services into newer market segments or geographical regions.</p><br>
<p>Samsung has used and still uses a combination of different approaches to entering new markets, which include direct export, licensing, joint-ventures, mergers, and acquisitions, and direct foreign investment.
</p><br>
<p>The market development strategy has allowed Samsung to have a global presence and once Samsung develops brand recognition and brand loyalty within a market, it is easier for Samsung to introduce its subsequent products and services under its brand. 
</p><br>
<p>The company started its journey in the electronics line with the manufacture of televisions. Over the years the televisions have changed and nowadays we have smart televisions. But it faces its major competition in this field from another leading television manufacturing company, Sony. When Sony came up with the curved Bravia model, Samsung tried to follow it and produced a curved OLED television. There had been a lot of advertisements of this particular model, but the sales received a huge blow as this move was a total loss. This is because the curve provides no benefit to image quality, and in fact introduces subtle distortions, which was considerably absent in the Sony model.
</p><br>
<p>For example, in recent years, Samsung has been facing a tough competition from another leading mobile phone manufacturer one plus. So, to increase the sales of its products, the company reduced the price of its phones by a considerable amount, which lead to consumers buying more Samsung products than one plus.
</p><br>
<p>Samsung’s Position in 2003, was strong as compared to its current situation. Its stock was one of the most widely held amongst the companies emerging in the market as more than half of its shares were outside of Korea, its home country. In 2003, Business week ranked Samsung 25th most valuable brand from 34th position in 2002 and with a fast growing brand value compared to its competitor Sony. Samsung Electronics posted KRW 52.4 trillion in consolidated quarterly revenue and KRW 6.2 trillion in quarterly operating profit. First quarter earnings were weighed down by the weakness in memory chips and displays, although the newly launched Galaxy S10 smartphone logged solid sales. Samsung reported a 56% decline in second-quarter operating profit for the three months that ended June due to falling memory chip prices. Shares of the South Korean giant are down over 11 percent this year, more than major U.S. and other Asian technology stocks. Over $39.4 billion has been erased from Samsung’s market capitalization year-to-date. It’s a far cry from the 41 percent rally Samsung shares saw in 2017. Samsung’s second quarter earnings showed the slowest quarterly profit growth in more than a year, partly because of sluggish smartphone sales. Revenue from the mobile division was down 22 percent year-on-year in the three months to June. </p><br>
<p>In India, Samsung, which was again very dominant in the past, is facing increased competition from Xiaomi, which is now equal to its South Korean rival in terms of shipments, according to research firm Canalys. Samsung supplies so-called organic light-emitting diode (OLED) panels for Apple’s iPhone X. This helped boost the company’s earnings last year when Apple was buying stock from Samsung for the device’s release. But Apple started outsourcing their products and because of this reason stocks of Samsung suffered heavily as they had some 20 million stocks ready to be outsourced. So, in the second quarter of 2018, Samsung’s display panel division saw revenues fall 27 percent year-on-year because “iPhone X demand in the first half this year has not been the same,” according to Shah. Given these issues, Samsung announced a recent $22 billion investment into new growth areas like artificial intelligence (AI) and 5G mobile internet technology. </p><br>
<p>Following is a chart of shipment for leading phone manufacturing companies
</p><br>
<center><img src="images/image/samsung/samsungsales3.jpg" height="300px" width="400px"></center><br>

</div>






<div class="options">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. When was the company founded?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a"> 1985<br>
    <input type="radio" name="q1" id="1b"> 1972<br>
    <input type="radio" name="q1" id="1c"> 1938<br>
    <input type="radio" name="q1" id="1d"> 1956<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. When did Samsung enter electronics industry?</b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">Mid 1970s<br>
    <input type="radio" name="q2" id="2b">Late 1960s<br>
    <input type="radio" name="q2" id="2c">Early 1960s<br>
    <input type="radio" name="q2" id="2d">Late 1950s<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. How much Samsung phones were sold in 2012(in millions)?</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">40<br>
    <input type="radio" name="q3" id="3b">70<br>
    <input type="radio" name="q3" id="3c">90<br>
    <input type="radio" name="q3" id="3d">60<br>
  </p>
</div>

<br>
<b class="collapsible">Q4. Samsung build a television assembly plant in which country?</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">united kingdom<br>
    <input type="radio" name="q4" id="4b">germany<br>
    <input type="radio" name="q4" id="4c">japan<br>
    <input type="radio" name="q4" id="4d">south korea<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. By how much is the shares of the company down this year?</b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">5%<br>
    <input type="radio" name="q5" id="5b">13%<br>
    <input type="radio" name="q5" id="5c">20%<br>
    <input type="radio" name="q5" id="5d">11%<br>
  </p>
  <br>
<b class="collapsible">Q6. What was the quarterly shipment in millions in the 1st quarter of 2019 of Samsung</b>
<div class="content">
    <p>
    <input type="radio" name="q6" id="6a">70<br>
    <input type="radio" name="q6" id="6b">40<br>
    <input type="radio" name="q6" id="6c">80<br>
    <input type="radio" name="q6" id="6d">60<br>
  </p>
  <br>
<b class="collapsible">Q7. In which year did Samsung build a television assembly plant?</b>
<div class="content">
    <p>
    <input type="radio" name="q7" id="7a">1983<br>
    <input type="radio" name="q7" id="7b">1987<br>
    <input type="radio" name="q7" id="7c">1985<br>
    <input type="radio" name="q7" id="7d">1980<br>
  </p>
  <br>
<b class="collapsible">Q8. In which country does Samsung open a sales subsidiary in 1970?
</b>
<div class="content">
    <p>
    <input type="radio" name="q8" id="8a">Germany<br>
    <input type="radio" name="q8" id="8b">UK<br>
    <input type="radio" name="q8" id="8c">USA<br>
    <input type="radio" name="q8" id="8d">Portugal<br>
  </p>
  <br>
<b class="collapsible">Q9. With what did the company start its journey in electronics?</b>
<div class="content">
    <p>
    <input type="radio" name="q9" id="9a">Television<br>
    <input type="radio" name="q9" id="9b">refrigerator<br>
    <input type="radio" name="q9" id="9c">washing machines<br>
    <input type="radio" name="q9" id="9d">phones<br>
  </p>
  <br>
<b class="collapsible">Q10.  What is the current position of Samsung?</b>
<div class="content">
    <p>
    <input type="radio" name="q10" id="10a">Stronger than 2004







<br>
    <input type="radio" name="q10" id="10b">Not as strong as 2004<br>
    <input type="radio" name="q10" id="10c">As strong as 2004<br>
    <input type="radio" name="q10" id="10d">Not as strong as 2003<br>
  </p>

    
  </div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <!-- <script src="js/description.js"></script> -->

  <script>
    var marks = 0
    function next(){
      var _0x1e62=['checked','10a','getElementById'];(function(_0x36b114,_0x223034){var _0x37aae6=function(_0x55dc1b){while(--_0x55dc1b){_0x36b114['push'](_0x36b114['shift']());}};_0x37aae6(++_0x223034);}(_0x1e62,0x173));var _0x46cd=function(_0x22cdb6,_0x220f31){_0x22cdb6=_0x22cdb6-0x0;var _0x4bf642=_0x1e62[_0x22cdb6];return _0x4bf642;};if(document[_0x46cd('0x0')]('1a')['checked']){marks++;}if(document[_0x46cd('0x0')]('2b')[_0x46cd('0x1')]){marks++;}if(document['getElementById']('3b')[_0x46cd('0x1')]){marks++;}if(document[_0x46cd('0x0')]('4c')['checked']){marks++;}if(document[_0x46cd('0x0')]('5d')[_0x46cd('0x1')]){marks++;}if(document[_0x46cd('0x0')]('6a')[_0x46cd('0x1')]){marks++;}if(document['getElementById']('7c')[_0x46cd('0x1')]){marks++;}if(document['getElementById']('8a')['checked']){marks++;}if(document[_0x46cd('0x0')]('9a')[_0x46cd('0x1')]){marks++;}if(document[_0x46cd('0x0')](_0x46cd('0x2'))[_0x46cd('0x1')]){marks++;}
     var _0x1f42=['GET','https://business-ideas-users-api.herokuapp.com/users/me','Bearer\x20','trivsal','done','href','/samsungfin','PATCH','json','application/json','token','ajax'];(function(_0x2f452c,_0x1f4467){var _0x14986f=function(_0x17edda){while(--_0x17edda){_0x2f452c['push'](_0x2f452c['shift']());}};_0x14986f(++_0x1f4467);}(_0x1f42,0x12b));var _0x3788=function(_0x1a9de9,_0x2377b1){_0x1a9de9=_0x1a9de9-0x0;var _0x1406b0=_0x1f42[_0x1a9de9];return _0x1406b0;};$[_0x3788('0x0')]({'type':_0x3788('0x1'),'url':_0x3788('0x2'),'headers':{'Authorization':_0x3788('0x3')+document['cookie']},'success':function(_0x357602){trivsal=_0x357602[_0x3788('0x4')];if(trivsal==_0x3788('0x5')){alert('You\x20have\x20already\x20answered\x20this\x20part,\x20so\x20no\x20updates');location[_0x3788('0x6')]=_0x3788('0x7');}else{$[_0x3788('0x0')]({'type':_0x3788('0x8'),'url':_0x3788('0x2'),'headers':{'Authorization':_0x3788('0x3')+document['cookie']},'data':JSON['stringify']({'scoreSales':marks,'trivsal':_0x3788('0x5')}),'crossDomain':!![],'dataType':_0x3788('0x9'),'contentType':_0x3788('0xa'),'success':function(_0x1853d7){token=_0x1853d7[_0x3788('0xb')];responseScore=_0x1853d7;location[_0x3788('0x6')]='/samsungfin';}});}}});
         }
      
      
  </script>
  
</body>

</html>