<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Business ideas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="test.css"> --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
  {{!-- <script src="js/description.js"></script> --}}

</head>
<style type="text/css">
  p,li{
    font-family: comic-sans;
    font-size: 1.3em;
  }
</style>
<body>
  <div class="jumbotron">
    <h1 class="display-4" id="company">SAMSUNG</h1>
    <h5 class="display-6">Read the passage and answer the following questions. Click on the tabs below to expand and read the comprehension and questions. <br> Answer should be based on the stats given below.</h5>
  </div>
  <div class="container" id="description">
<!-- <h4>Read the passage and answer the following questions:</h4> -->


<div class="content">
  <center><h1>Samsung Research and Devolpment</h1></center>

  <b><h2><u>INTRODUCTION</u></h2></b><br>
  <p align="justify">&emsp;&emsp;Have you ever wonder, how far our lives are changed with the gadgets and technology. From Basic phones with buttons to Ultra edge bezel-less display phones with unbelievable processor speed, the era of technology has exponentially developed and changed our life style in awesome way. How is this possible? We name it as RESEARCH AND DEVOLPMENT. It is the key role for evolving technology and new approach to existing ones in our lives. The backbone of every new technology over decades is exclusively done by the only one – Research and development.  This also includes the tech giant- SAMSUNG which provides different technology and more stable software interface, to invest in Research and development with huge capital to give advancement in tech era.  Samsung research is the advanced research and development hub of Samsung Electronics which conducts new advancement in hardware’s and software to implement in the products of Samsung. </p><br>


  <p align="justify">&emsp;&emsp;Samsung’s story is an interesting one, full of both highs and lows. The hub leads the development of the future technologies with more than 10,000 researchers and developers working in overseas R&D centres. Samsung are a global innovation powerhouse that leads the trends. It is deeply invested in India — 20 years of relationships in the trade, and huge investments in local R&D. It has around 10,000 engineers working in research facilities in India and it is one of the biggest recruiters from the IITs. The hub is working in collaboration with 14 overseas R&D centres in 12 countries worldwide and 7 global AI centres to secure innovative technologies faster than anyone else and enhance its global R&D capacity. It is equally maximizing technological cooperation through active open innovation with distinguished universities, research institutes, and partner companies globally that have the world’s best technologies. Samsung has two manufacturing plants and has five R&D centres in India.
<br>
<br>
Do you know, how  the greatest tech giant of all times SAMSUNG has started ? Samsung set their foot of business in the year 1938 as a small trading company with forty employees .The  Samsung’s history is an interesting one, full of both highs and lows. Right from its founding the founder believed his new company was the start of something much bigger. The company’s name choice reflected this ambition . Samsung entered the electronics industry in the 1960's with the formation of several electronics focused divisions. The initial electronics divisions included Samsung Electronics Devices, Samsung Electro-Mechanics, Samsung Corning, and Samsung Semiconductor & Telecommunications. Samsung started their base  with initial facilities in Suwon, South Korea and japan. 
</p><br>

<p>The first electronics product ever produced by Samsung was a black and white TV in 1970. Between 1972 and 1979, Samsung began selling washing machines, changed to Samsung Petrochemical and then Samsung Heavy Industries, and by 1976, had sold its 1 millionth B&W television.

</p>

<br><p>
Will you believe now that the prototype of smart watch that we use today  was initially made by Samsung in the year 1999?
        <br>
        No, right?....
<br>
<br>

Coming to  the mobile technology for which the company Samsung famous for , Samsung may not be the first company  to make a smartphone, but it was one of the first players to truly get aggressive about the market, introducing the first “PDA phone( Personal Digital Assistant)” with a color display in the U.S. market at the year 2001.called the SPH-i300.
<br>
<br>
Wow, things sure have changed a lot since then…
<br>In 2006, the company has been largest  manufacturer of televisions  in terms of specs ,and in the beginning of  2010, the Galaxy series expanded a lot from a smartphone to tablet computers  with all the advanced specs needed at that time.
After many struggles and downfalls in its designs,configurations ,applications samsung set its foot as world’s no 1 smart phone maker overtaking apple in the year 2012.
<br><br>
Samsung offers its employees a home away from a home to allow teams ,to focus completely on the ideas as they explore more and share ideas.
For the bordeaux project,the team studied what consumers really want in a television. They discovered that many want a TV that looks good from every angle like a “sparkling glass of fine wine.beautiful shape .beautiful colour”. Introduced in 2007,the bordeaux went on to become the world’s most desired LCD TV. more than one million sets were sold in the first 6 months crossing the margin of 3 million.
After all it started with a ”glass of wine”……
Have you got inspiration after reading the above story !  that the success of all the great technology that evolved today got started from the basic idea…… </p>

</p><br>



  <p>A series of unfortunate events in the year 2016.
The Korean electronics giant released the Galaxy Note7 smartphone in August,2016 . By September, the US Consumer Product Safety Commission officially recalled the phone, and Samsung offered customers refunds or replacement Note7 phones that were supposed to be explosion-proof.  But less than a month later, amid reports that even the **replacement** phones were exploding, Samsung has stopped the Note7's production and sales and asked everyone to return all the phones. Consumer safety agencies the world over have recalled roughly 2.5 million Note7s. Airlines have banned the phone from planes entirely.
<br>

The Note7 was supposed to be Samsung's flagship product, and it had a chance to lure away iPhone users fed up with Apple's plan to ditch the headphone jack. That's obviously wasn’t the case that happened in reality.
<br>

Google made the matter still worse after the downfall of samsung note 7 giving no time from the retrieval of loss that were facing in the year 2016
Google develops the Android operating system on which many Samsung smartphones run. And in early October, Google debuted a new smartphone, Pixel, which Google designed with an aim to develop the same sort of hardware-software integration that has made Apple’s iPhone successful.The year 2016 was not just samsung’s year.
<br>
<br>
 Unsurprisingly, a lot of people no longer trust Samsung. Cue the internet jokes.
 <br>
Competition is already one of Samsung's greatest challenges, and it hasn't even launched its phone. China's xiomi recently stole their samsung’s  thunder with a tri-fold prototype that brings a fresh -- and dare we say, impressive -- design concept that's new to this budding space. Others like Huawei, LG and Motorola are rumored to show off their own takes on foldable phone design soon.

<br>
<br>Samsung Research continues to concentrate on the development of future-oriented advanced technology and contribute further in finding new growth engines and creating new markets.
<br>
- 4G LTE is the prevailing mobile technology having more than 3 billion subscribers around the world. The latest LTE smart phones can provide high-speed data up to 1.2 Gbps enabling quick download and smooth live streaming. Samsung released the world-first LTE device in 2009 and has been leading the continuous evolution of LTE technologies to LTE-Advanced and LTE-Advanced Pro.
<br>- 5G is the next-generation mobile technology aiming to expand the use cases of mobile systems beyond broadband data services.
<br>
- TIZEN is an open and flexible software platform that supports smart devices, as well as low-end devices. 
<br>- HEVC is a high-efficiency video compression technology that offers more than twice the data compression efficiency compared to the previous H.264. It enables the realization of ultra-definition videos such as 4K and 8K.
In the electronics domain, two big areas of focus for the R&D team are music and cameras. Consumers are big users of both these features  and the researchers are trying to understand usage patterns to customise phones for consumers.
<br>
<br>
Competition is already one of Samsung's greatest challenges, and it hasn't even launched its phone. China's Xiaomi recently stole Samsung's thunder with a tri-fold prototype that brings a fresh -- and dare we say, impressive -- design concept that's new to this budding space. Others like Huawei, LG and Motorola are rumored to show off their own takes on foldable phone design soon.
    It's widely expected we'll see Samsung's first foldable phone -- rumoured to be called the Galaxy X, Galaxy F, Galaxy Flex or Galaxy Fold  on Feb. 20,2019.But they became the greatest failure of all times for Samsung, as the display of foldable phones got cracked when they were being used .And it was not affordable for the middle class people as the price was very high.
Besides, the other focus areas are Augmented Reality, Virtual Reality, Artificial intelligence, multi-device connectivity, and services like payment and health. Recently , the company have  launched a virtual reality head gear called Gear VR for Galaxy Note 4. This was another global product the India R&D team worked on. 
Samsung expects the next round of innovation to be led by wearables and IoT and has a dedicated team working on these areas. “The wearable case, if it tries to do everything, then it’s overwhelming for people. So, we need to choose what wearable solves which consumer’s problem for day-to-day events.
<br>
<ul>
<h4>TIMELINE OF SAMSUNG ACHEIVEMENTS:</h4>
<br><li>
2006- Developed the world's first 40 nanometre 32Gb NAND Flash memory, 50 nanometre 1GB DRAM memory.</li>
<li>2012- The LCD business was sent to Samsung Mobile Display<br></li>
<li>2013- Began mass producing the world's first 20 nanometre 4Gb ultra high- speed mobile DRAM<br></li>
<li>2014- Unveiled the world's first 85” bendable UHD TV
Released the world's first 105” curved UHD TV<br>
Unveiled the GALAXY NOTE EDGE, the world's first smartphone with a curved edge screen, along with the gear S, the first wearable device featuring 3G connectivity<br></li>
<li>2015- Unveiled Sleep sense, a personal sleep monitoring device that helps people improve the quality of their sleep.
Launched the gear S2, a stylish smartwatch with versatile circular design and rotating bezel<br>
Unveiled the galaxy S6 and Galaxy S6 edge with the world's first curved display on both sides<br></li>
<li>2017- Unveiled Galaxy s8,s8+, and note 8<br>
Bixby voice capabilities now available in over 200 countries globally<br>
Debuted world's first Cinema LED screen<br></li>
<li>2018- Launched QLED 8K and world's first modular TV 'THE WALL'
Unveiled Samsung and HARMAN's '2018 Digital Cockpit'</li>
</ul>
</div>
<br>
</p>
</div>






<div class="options container">

<section class="question"> 
<h4>Questions:</h4>


<b class="collapsible">Q1. which  of the following option is  one of the core research theme at Samsung research ?</b>
<div class="content">
  <p>
    <input type="radio" name="q1" id="1a">Enhancement of authentication and security  in the technologies.<br>
    <input type="radio" name="q1" id="1b">Artificial intelligence<br>
    <input type="radio" name="q1" id="1c">Software updates for smartphones.<br>
    <input type="radio" name="q1" id="1d">HEVC technology.<br>
  </p>
</div>

<br>
<b class="collapsible">Q2. The initial electronics divisions included </b>
<div class="content">
    <p>

    <input type="radio" name="q2" id="2a">Samsung Electronics Devices<br>
    <input type="radio" name="q2" id="2b">Samsung Electro-Mechanics<br>
    <input type="radio" name="q2" id="2c">Samsung Semiconductor & Telecommunications<br>
    <input type="radio" name="q2" id="2d">All of these<br>
  </p>
</div>

<br>
<b class="collapsible">Q3. How much percentage of 5G related patents are being filled by Samsung even though the standards re not fully denied?</b>
<div class="content">
    <p>
    <input type="radio" name="q3" id="3a">20-25<br>
    <input type="radio" name="q3" id="3b">38-45<br>
    <input type="radio" name="q3" id="3c">60-75<br>
    <input type="radio" name="q3" id="3d">32-35<br>
  </p>
</div>

<br>
<b class="collapsible">Q4.  If it tries to do everything, then it’s overwhelming for people that solves all the problems of the people in daily life.which domain is that?</b>
<div class="content">
    <p>
    <input type="radio" name="q4" id="4a">Wearables<br>
    <input type="radio" name="q4" id="4b">Nano chips <br>
    <input type="radio" name="q4" id="4c">Pocket gadgets<br>
    <input type="radio" name="q4" id="4d">AI<br>
  </p>
</div>

<br>
<b class="collapsible">Q5. Which company  recently stole Samsung's thunder with a tri-fold prototype </b>
<div class="content">
    <p>
    <input type="radio" name="q5" id="5a">Xiomi<br>
    <input type="radio" name="q5" id="5b">LG<br>
    <input type="radio" name="q5" id="5c">Huawei<br>
    <input type="radio" name="q5" id="5d">Motorola<br>
  </p>
</div>

<br>
<b class="collapsible">Q6. In the electronics domain, two big areas of focus for the R&D team in Samsung  are ?</b>
<div class="content">
  <p>
    <input type="radio" name="q6" id="6a">Internet and wifi<br>
    <input type="radio" name="q6" id="6b">RAM and ROM<br>
    <input type="radio" name="q6" id="6c">Camera and Music<br>
    <input type="radio" name="q6" id="6d">Design and BAteery capacity<br>
  </p>
</div>

<br>
<b class="collapsible">Q7. Which city in Karnataka was chosen as the centre of consumer R&D research?</b>
<div class="content">
  <p>
    <input type="radio" name="q7" id="7a">Mysore<br>
    <input type="radio" name="q7" id="7b">Mangalore<br>
    <input type="radio" name="q7" id="7c">Kolar<br>
    <input type="radio" name="q7" id="7d">Tumakuru<br>
  </p>
</div>

<br>
<b class="collapsible">Q8. Samsung expects the next round of innovation to be led by _______________</b>
<div class="content">
  <p>
    <input type="radio" name="q8" id="9a">IOT<br>
    <input type="radio" name="q8" id="9b">Augmented Reality.<br>
    <input type="radio" name="q8" id="9c">Virutual reality<br>
    <input type="radio" name="q8" id="9d">AI<br>
  </p>
</div>

<br>
<b class="collapsible">Q9. The prototype of smart watch that we use today  was initially made by Samsung in the year ____________?</b>
<div class="content">
  <p>
    <input type="radio" name="q9" id="8a">1989<br>
    <input type="radio" name="q9" id="8b">2002<br>
    <input type="radio" name="q9" id="8c">2003<br>
    <input type="radio" name="q9" id="8d">1999<br>
  </p>
</div>

<br>
<b class="collapsible">Q10. Which of them an open and flexible software platform that supports smart devices, as well as low-end devices ?</b>
<div class="content">
  <p>
    <input type="radio" name="q10" id="10a">LTE<br>
    <input type="radio" name="q10" id="10b">TIZEN<br>
    <input type="radio" name="q10" id="10c">HEVC<br>
    <input type="radio" name="q10" id="10d">5G<br>
  </p>
</div>
<br>
    
  </div>
</section>
</div>
  <button type="button" class="btn btn-success btn-lg" onclick="next()" style="margin-left: 47%;">NEXT</button>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> --}}
  <script>
    var marks = 0
    function next(){
     var _0x19a9=['getElementById','checked','10b'];(function(_0x16217a,_0x4ba84b){var _0x5634a2=function(_0x38618c){while(--_0x38618c){_0x16217a['push'](_0x16217a['shift']());}};_0x5634a2(++_0x4ba84b);}(_0x19a9,0x1b0));var _0x2034=function(_0x31af35,_0x20f0dd){_0x31af35=_0x31af35-0x0;var _0x198ab8=_0x19a9[_0x31af35];return _0x198ab8;};if(document[_0x2034('0x0')]('1b')[_0x2034('0x1')]){marks++;}if(document[_0x2034('0x0')]('2d')[_0x2034('0x1')]){marks++;}if(document[_0x2034('0x0')]('3b')['checked']){marks++;}if(document[_0x2034('0x0')]('4a')[_0x2034('0x1')]){marks++;}if(document[_0x2034('0x0')]('5a')[_0x2034('0x1')]){marks++;}if(document[_0x2034('0x0')]('6c')[_0x2034('0x1')]){marks++;}if(document[_0x2034('0x0')]('7c')[_0x2034('0x1')]){marks++;}if(document[_0x2034('0x0')]('8a')[_0x2034('0x1')]){marks++;}if(document['getElementById']('9d')['checked']){marks++;}if(document[_0x2034('0x0')](_0x2034('0x2'))[_0x2034('0x1')]){marks++;}
     var _0x1a50=['application/json','token','ajax','GET','https://business-ideas-users-api.herokuapp.com/users/me','cookie','trivrnd','You\x20have\x20already\x20answered\x20this\x20part,\x20so\x20no\x20updates','href','/question','PATCH','Bearer\x20','stringify','done','true','json'];(function(_0x1a633a,_0x5305a2){var _0x452738=function(_0x5aa736){while(--_0x5aa736){_0x1a633a['push'](_0x1a633a['shift']());}};_0x452738(++_0x5305a2);}(_0x1a50,0x132));var _0xc2d1=function(_0x27a291,_0x100cb4){_0x27a291=_0x27a291-0x0;var _0x316f13=_0x1a50[_0x27a291];return _0x316f13;};$[_0xc2d1('0x0')]({'type':_0xc2d1('0x1'),'url':_0xc2d1('0x2'),'headers':{'Authorization':'Bearer\x20'+document[_0xc2d1('0x3')]},'success':function(_0x544138){trivrnd=_0x544138[_0xc2d1('0x4')];if(trivrnd=='done'){alert(_0xc2d1('0x5'));location[_0xc2d1('0x6')]=_0xc2d1('0x7');}else{$[_0xc2d1('0x0')]({'type':_0xc2d1('0x8'),'url':_0xc2d1('0x2'),'headers':{'Authorization':_0xc2d1('0x9')+document['cookie']},'data':JSON[_0xc2d1('0xa')]({'scoreRnd':marks,'trivrnd':_0xc2d1('0xb'),'flag':_0xc2d1('0xc')}),'crossDomain':!![],'dataType':_0xc2d1('0xd'),'contentType':_0xc2d1('0xe'),'success':function(_0x217922){token=_0x217922[_0xc2d1('0xf')];responseScore=_0x217922;location[_0xc2d1('0x6')]=_0xc2d1('0x7');}});}}});
         }
      
      
  </script>

</body>

</html>