<!DOCTYPE html>
<html>
<head>
	<title>Business ideas</title>
</head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<!-- <div class="ui raised very padded text container segment"> -->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<style type="text/css">
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  body{
    /*background-image: url(images/bg-img2.jpg);*/
    background-size: cover;
}
</style>
<body>



<div class="container">

<table class="ui purple compact table">
  <thead>
    <tr class="center aligned">
      <th class="four wide">Verticals</th>
      <th class="four wide">Current score</th>
    </tr>
  </thead>
  <tbody>
    <tr class="center aligned">
      <td>Sales</td>
      <td><span id='sales'><img src="images/805.gif" width="20px" height="20px"></span></td>
      <!-- <td><div class="ui input"><input id="sal_inv" type="number" name="sales"></div> -->
    
    </tr>
    <tr class="center aligned">
      <td>Production</td>
      <td><span id='production'><img src="images/805.gif" width="20px" height="20px"></span><br></td>
      <!-- <td><div class="ui input"><input id="pro_inv" type="number" name="sales"></div> -->
 
    </tr>
    <tr class="center aligned">
      <td>Research</td>
      <td><span id='research'><img src="images/805.gif" width="20px" height="20px"></span><br></td>
      <!-- <td><div class="ui input"><input id="res_inv" type="number" name="sales"></div> -->
    </tr>
    <tr class="center aligned">
      <td>Finance</td>
      <td><span id='finance'><img src="images/805.gif" width="20px" height="20px"></span></td>
      <!-- <td><div class="ui input"><input id="fin_inv" type="number" name="sales"></div> -->
    </tr>
  </tbody>
</table>
</div>

<button class="ui right purple labeled icon button" style="position: absolute;bottom: 10%;right: 9%;" onclick="letsmerge()">
  <i class="right arrow icon"></i>
  Next
</button>

<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-firestore.js"></script>
<script>
  // Your web app's Firebase configuration
 var _0x52f0=['business-ideas-134d4.appspot.com','504116260995','AIzaSyA7CVZe8_ga4PuOAtrrnheh9J43uDNkyD8','https://business-ideas-134d4.firebaseio.com'];(function(_0x26eeed,_0x322ab2){var _0x4ae062=function(_0x21810a){while(--_0x21810a){_0x26eeed['push'](_0x26eeed['shift']());}};_0x4ae062(++_0x322ab2);}(_0x52f0,0x1aa));var _0x34f5=function(_0x2155e4,_0x3c130d){_0x2155e4=_0x2155e4-0x0;var _0x55769a=_0x52f0[_0x2155e4];return _0x55769a;};var firebaseConfig={'apiKey':_0x34f5('0x0'),'authDomain':'business-ideas-134d4.firebaseapp.com','databaseURL':_0x34f5('0x1'),'projectId':'business-ideas-134d4','storageBucket':_0x34f5('0x2'),'messagingSenderId':_0x34f5('0x3'),'appId':'1:504116260995:web:8305df7ccbf0b52f'};
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  letsmerge=()=>{
   var _0x3227=['https://business-ideas-users-api.herokuapp.com/users/me','cookie','flag2','Wait\x20for\x20it!','href','/merger'];(function(_0x346aa6,_0x28e77a){var _0x16c8e6=function(_0x1228ed){while(--_0x1228ed){_0x346aa6['push'](_0x346aa6['shift']());}};_0x16c8e6(++_0x28e77a);}(_0x3227,0xea));var _0x51db=function(_0x3fee62,_0x9d72fe){_0x3fee62=_0x3fee62-0x0;var _0x484ed3=_0x3227[_0x3fee62];return _0x484ed3;};$['ajax']({'type':'GET','url':_0x51db('0x0'),'headers':{'Authorization':'Bearer\x20'+document[_0x51db('0x1')]},'success':function(_0x256a5f){flag2=_0x256a5f[_0x51db('0x2')];if(flag2!='r2begin'){alert(_0x51db('0x3'));}else{location[_0x51db('0x4')]=_0x51db('0x5');}}});
  }
</script>
<script type="text/javascript" src="js/scoreboard.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>